---
import PageContent from "../../components/ui/PageContent.astro";
import header from "../../img/tools.png";
---

<PageContent title="Bonos" headerImage={header}>
	<h2>¿Por qué se emiten los bonos?</h2>
	<p>
		Cuando las empresas o los gobiernos (nacional, provincial o municipal)
		necesitan financiamiento de grandes cantidades de dinero para proyectos
		o gastos, recurren a la bolsa de valores. El monto que necesitan lo
		consiguen emitiendo bonos, y los inversores financian a las empresas y
		gobiernos a través de la compra de estos bonos a cambio de recibir un
		rendimiento a lo largo del tiempo. Entonces, una empresa o estado emite
		bonos para financiarse a través del mercado de capitales para llevar a
		cabo obras, infraestructura, etc.
	</p>
	<ul>
		<li>
			<strong>Ente Público:</strong> Bonos Soberanos o Títulos Públicos.
		</li>
		<li>
			<strong>Ente Privado:</strong> Obligaciones Negociables o Bonos Corporativos.
		</li>
	</ul>

	<h2>¿Qué son los BONOS?</h2>
	<p>
		Un bono es un título de deuda pública o privada que representa un
		contrato entre dos partes:
		<strong>
			<a href="bonos/tir-paridad-duracion"
				>Tasa Interna de Retorno (TIR), duración y paridad</a
			>
		</strong>
		son conceptos clave para comprender el funcionamiento y análisis de los bonos.
	</p>
	<ul>
		<li>
			<strong>El emisor:</strong> recibe el financiamiento y se compromete
			a devolver el capital y los intereses acordados en el tiempo estipulado.
		</li>
		<li>
			<strong>Los inversores:</strong> prestan el dinero y adquieren el derecho
			a cobrar una corriente de intereses y capital/amortizaciones a lo largo
			de la vida del bono.
		</li>
	</ul>
	<p>
		Los intereses, el capital, las fechas de pago, la forma de pago y demás
		cuestiones están establecidas de antemano en un documento llamado <strong
			>Prospecto de Emisión</strong
		>.
	</p>

	<h2>Prospecto de Emisión</h2>
	<p>
		Es un documento redactado por el emisor antes de proceder a la emisión
		del bono. En él se encuentran todas las características del bono, y
		estas condiciones tienen vigencia desde que nace el bono hasta su fecha
		de vencimiento.
	</p>
	<ul>
		<li><strong>Emisor:</strong> quien emite el bono.</li>
		<li>
			<strong>Plazo:</strong> fecha de emisión y fecha de vencimiento.
		</li>
		<li>
			<strong>Renta:</strong> tasa o cupón de interés que paga el bono periódicamente.
			La tasa de interés es un % anual.
		</li>
		<li>
			<strong>Amortización:</strong> la forma en la cual me va a devolver el
			capital.
		</li>
		<li>
			<strong>Monto de la emisión:</strong> cuánto monto se emitió en la subasta;
			puede leerse en dólares o valores nominales.
		</li>
		<li><strong>Moneda de la emisión:</strong> dólares o pesos.</li>
		<li><strong>Garantías:</strong> si es que las hubiese.</li>
		<li>
			<strong>Ley aplicable:</strong> hace referencia a qué jurisdicción tienen
			que recurrir los inversores si hubiese algún litigio o disputa legal
			con el bono.
		</li>
		<li>
			<strong>Denominación mínima:</strong> valor nominal mínimo de negociación.
		</li>
		<li>
			<strong>Frecuencia de pago:</strong> semestral, trimestral, anual.
		</li>
	</ul>

	<h3>Calificación de Riesgo</h3>
	<p>
		Cuando se emite un bono, es habitual que se asigne una calificación de
		riesgo a la emisión. Las calificadoras más reconocidas a nivel
		internacional son Moody's, Fitch Ratings y Standard & Poor's. El rol de
		las calificadoras es central, ya que nos proveen de la información
		necesaria sobre el riesgo del instrumento para así tomar una decisión.
	</p>
	<p>
		La calificación se hace sobre la emisión puntual. Con lo cual diferentes
		emisiones de un mismo emisor pueden tener distintas calificaciones, en
		base a la estructura puntual de la emisión. La calificación sobre una
		emisión puede cambiar en el tiempo, ya que las calificadoras de riesgo
		monitorean constantemente la situación del emisor.
	</p>
	<p>En base al riesgo, los bonos se pueden clasificar en:</p>
	<ul>
		<li>
			<strong>Bonos grado de Inversión:</strong> son bonos dignos de inversión,
			ya que se cree que se va a tener cumplimiento de los pagos.
		</li>
		<li>
			<strong>Bonos grado de Especulación:</strong> son bonos que probablemente
			tengan un alto rendimiento porque traen aparejado un alto riesgo.
		</li>
	</ul>
	<p>
		Las calificadoras asignan un puntaje que va desde AAA hasta D; donde los
		AAA son los bonos más seguros y los D son bonos en default o cesación de
		pagos.
	</p>

	<h3>Conceptos Claves de Bonos</h3>
	<ul>
		<li>
			<strong>Valor Nominal (VN):</strong> es el monto que se comprometió a
			devolver el emisor en concepto de capital.
		</li>
		<li>
			<strong>Valor Residual (VR):</strong> es lo que falta amortizar del valor
			nominal. Es el % que todavía le queda devolver al emisor en concepto
			de capital.
			<ul>
				<li>En el caso de los Bonos Bullets será siempre del 100%.</li>
				<li>
					Para los bonos con amortizaciones periódicas el VR irá
					bajando a medida que el bono amortice capital.
				</li>
				<li>
					Al vencimiento del bono, el VR=0%, ya que abonó todo el
					capital acordado durante su vigencia.
				</li>
			</ul>
		</li>
	</ul>

	<h2>Tipos de Bonos</h2>
	<ul>
		<li>
			<strong>Bonos Bullet:</strong> devuelven el capital íntegramente al vencimiento
			y durante toda la vida del bono únicamente pagan cupones de interés.
		</li>
		<li>
			<strong>Bonos con amortización:</strong> el emisor además de ir pagando
			periódicamente los cupones de interés también devuelve el capital de
			manera periódica en cuotas.
		</li>
	</ul>

	<h2>¿Qué es el Flujo de Fondos?</h2>
	<p>
		El flujo de fondos es el cronograma de pagos que el bono realiza en
		concepto de intereses y capital a lo largo de su vida. Al adquirir un
		bono, el inversor está comprando un flujo de fondos, compuesto por el
		capital principal y el pago de intereses.
	</p>
	<p>
		Para construir un flujo de fondos, se debe consultar el prospecto de
		emisión del bono. Con la información proporcionada en el prospecto, se
		pueden identificar las fechas y los montos de los pagos de intereses y
		capital que se recibirán a lo largo del tiempo.
	</p>
	<p>
		En resumen, el flujo de fondos es una herramienta esencial para el
		análisis de un bono, ya que permite al inversor entender los pagos que
		recibirá y en qué momentos los recibirá.
	</p>

	<h3>¿Cómo Afecta el Pago de Intereses y Amortización al Precio?</h3>
	<p>
		Los pagos de intereses y la amortización del capital son factores clave
		que influyen en el precio de un bono:
	</p>
	<p>
		<strong>Pago de Intereses:</strong> Los pagos periódicos de intereses proporcionan
		ingresos a los tenedores de bonos, aumentando la demanda y, por lo tanto,
		el precio del bono.
	</p>
	<p>
		<strong>Amortización de Capital:</strong> La devolución parcial del capital
		en cada período reduce el riesgo de crédito, lo que puede contribuir a aumentar
		el precio del bono.
	</p>
	<p>
		<strong>Obligación Negociable de YPF:</strong> YPF emite una obligación negociable
		que paga trimestralmente tanto intereses como amortización de capital, afectando
		el precio del bono según los mecanismos mencionados.
	</p>

	<h3>Un Poco de Historia</h3>
	<p>
		<strong>El "Bono Externo 1982" de la República Argentina:</strong> Este bono
		fue emitido por un valor de 100 dólares estadounidenses. Los cupones debían
		cortarse y cobrarse en el banco, con tasa y fechas de pago especificadas.
		Los pagos podían realizarse en el Banco Central de la República Argentina
		(BCRA) y otros bancos autorizados.
	</p>
	<p>
		En 1982, Argentina estaba bajo una dictadura militar, enfrentando alta
		inflación y una creciente deuda externa. El gobierno emitió estos bonos
		como forma de financiamiento.
	</p>
	<h3>Conclusión</h3>
	<p>
		Un bono paga dos cosas: intereses y capital. El valor nominal es el
		monto que se comprometió el emisor a abonar en concepto de capital. El
		valor residual es lo que falta aún abonar de capital. Los intereses se
		pagan sobre el valor residual, es decir, sobre el capital no amortizado.
		Toda esta información la encontraremos en el prospecto de emisión del
		bono.
	</p>
</PageContent>
