---
import PageContent from "../../components/ui/PageContent.astro";
import header from "../../img/instrumentos-children.png";
import Link from "@components/ui/Link.astro";
---

<PageContent title="Introducción a los CEDEARs" headerImage={header}>
	<p>
		Los CEDEARs (Certificados de Depósito Argentinos) son instrumentos
		financieros que permiten a los inversores argentinos acceder a acciones
		de empresas extranjeras. Estos certificados representan una porción de
		una acción que cotiza en mercados internacionales, pero se negocian en
		el mercado argentino.
	</p>
	<p>
		<strong>
			<a
				href="https://www.comafi.com.ar/custodiaglobal/2483-programas-cedear.note.aspx"
				target="_blank"
				>Lista completa de todos los CEDEARs en Argentina del Banco
				Comafi.</a
			>
		</strong>
	</p>

	<h2>¿Qué Son los CEDEARs?</h2>
	<ol>
		<li>
			<strong>Certificado de Depósito Argentino:</strong> Un CEDEAR es un certificado
			que representa una fracción de una acción de una empresa extranjera.
		</li>
		<li>
			<strong>Operaciones Locales:</strong> Aunque representan acciones de
			empresas internacionales, los CEDEARs se operan desde Argentina.
		</li>
		<li>
			<strong>Variedad:</strong> Actualmente, existen más de 250 CEDEARs disponibles
			en el mercado argentino, lo que brinda una amplia gama de opciones de
			inversión.
		</li>
	</ol>

	<h3>Beneficios de los CEDEARs</h3>
	<ol>
		<li>
			<strong>Invertir en Empresas Internacionales:</strong> Permiten a los
			inversores argentinos diversificar su cartera invirtiendo en empresas
			internacionales sin necesidad de transferir fondos al exterior.
		</li>
		<li>
			<strong>Mínima Inversión:</strong> La inversión mínima ha sido flexibilizada,
			permitiendo a los inversores comprar incluso una unidad de CEDEAR.
		</li>
		<li>
			<strong>Diversificación del Riesgo:</strong> Ayudan a mitigar el riesgo
			asociado con la economía argentina, diversificando en mercados internacionales.
		</li>
		<li>
			<strong>Cobro de Dividendos en Dólares:</strong> Los CEDEARs permiten
			a los inversores recibir dividendos en dólares, según las ganancias de
			las empresas subyacentes.
		</li>
		<li>
			<strong>Protección Frente a la Devaluación:</strong> Invertir en CEDEARs
			ofrece una protección adicional contra la devaluación del peso argentino,
			ya que están vinculados a activos internacionales.
		</li>
	</ol>

	<h3>Ratio de Conversión</h3>
	<p>
		El ratio de conversión indica cuántos CEDEARs corresponden a una acción
		original extranjera. Por ejemplo, el ratio de conversión de Apple es de
		10 a 1, lo que significa que 10 CEDEARs equivalen a 1 acción de Apple.
	</p>

	<h3>Dividendos en Dólares</h3>
	<p>
		<strong>Recepción de Dividendos:</strong> Muchas empresas que se pueden acceder
		a través de CEDEARs pagan dividendos en dólares. Los inversores reciben el
		proporcional de dividendos basado en la cantidad de CEDEARs que poseen.
	</p>
	<p>
		<strong>Ejemplo:</strong> Si una acción paga USD 0,46 en dividendos y el
		ratio de conversión es 5:1, y tienes 4 CEDEARs, recibirás USD 0,368 menos
		impuestos.
	</p>

	<h3>Volumen de Operaciones</h3>
	<p>
		El volumen de operaciones con CEDEARs ha aumentado significativamente,
		lo que significa más liquidez y facilidad para comprar y vender estos
		certificados.
	</p>

	<h3>Contado con Liquidación (CCL)</h3>
	<p>
		El Contado con Liquidación (CCL) es un mecanismo para obtener dólares a
		través de la compra y venta de activos en pesos y dólares en mercados
		locales e internacionales. El cálculo del tipo de cambio CCL se realiza
		a partir de la relación entre el precio del CEDEAR en pesos, el precio
		de la acción en dólares y el ratio de conversión.
	</p>

	<Link
		href="/instrumentos-financieros/cedears/etfs"
		target="_self"
		nameLink="CEDEARs de ETFs (Fondos Cotizados en Bolsa)"
	/>
	<p>
		<strong>Invertir en ETFs:</strong> Los CEDEARs permiten acceder a una variedad
		de ETFs, que son fondos cotizados en bolsa que replican índices y sectores
		específicos. En Argentina, puedes encontrar una selección de CEDEARs de ETFs,
		facilitando la diversificación y el acceso a mercados internacionales sin
		necesidad de operar directamente en el exterior.
	</p>

	<h3>Conclusión</h3>
	<p>
		Los CEDEARs ofrecen una forma eficiente y accesible para que los
		inversores argentinos diversifiquen su cartera, accedan a mercados
		internacionales, y se protejan contra la devaluación del peso. Con la
		posibilidad de recibir dividendos en dólares y operar en un mercado más
		líquido, los CEDEARs representan una herramienta valiosa para los
		inversores en Argentina.
	</p>
</PageContent>
