---
import PageContent from "@components/ui/PageContent.astro";
import header from "../../../img/instrumentos-children.png";
import NormalVideo from "@components/ui/NormalVideo.astro";
---

<PageContent title="CEDEARs de ETFs" headerImage={header}>
	<h2>CEDEARs de ETFs (Exchange-Traded Funds)</h2>
	<p>
		<strong>Fondos Cotizados en Bolsa (ETFs):</strong> Los CEDEARs permiten invertir
		en ETFs, que son fondos que cotizan en bolsa y replican el rendimiento de
		un índice, sector o activo específico. Estos fondos proporcionan una forma
		diversificada de inversión en mercados internacionales sin la necesidad de
		comprar acciones individuales. Ejemplos de ETFs incluyen SPY, que replica
		el S&P 500, y QQQ, que sigue el Nasdaq-100.
	</p>
	<NormalVideo
		title="🦈 Memorias de Tiburón"
		description="✅ ¿QUÉ SON los ETF y cómo funcionan? La MEJOR INVERSIÓN para aquellos que tienen menos conocimientos."
		src="https://www.youtube.com/embed/S5ORSWUhP5Q?si=4uZT4dgGouAEX2W5"
	/>
	<h3>Ventajas de Invertir en ETFs a través de CEDEARs:</h3>
	<ul>
		<li>
			<strong>Diversificación:</strong> Invertir en ETFs permite acceder a
			una cartera diversificada de activos con una sola transacción, lo que
			ayuda a reducir el riesgo.
		</li>
		<li>
			<strong>Accesibilidad:</strong> Los CEDEARs de ETFs se compran y venden
			en el mercado argentino, facilitando el acceso a estos fondos sin necesidad
			de operar directamente en mercados internacionales.
		</li>
		<li>
			<strong>Costos:</strong> Los ETFs suelen tener costos de gestión más
			bajos en comparación con los fondos mutuos tradicionales, lo que puede
			resultar en menores gastos para el inversor.
		</li>
		<li>
			<strong>Liquidez:</strong> Los ETFs se negocian en bolsas de valores
			como si fueran acciones individuales, lo que proporciona una alta liquidez
			y flexibilidad para entrar o salir de posiciones.
		</li>
	</ul>

	<p>
		Para conocer más sobre los CEDEARs de ETFs disponibles en el mercado
		argentino, puedes visitar el siguiente sitio web de la <strong
			>Caja de Valores</strong
		>:
		<strong>
			<a
				href="https://cajadevalores.com.ar/Servicios/Cedears"
				target="_blank"
				rel="noopener noreferrer">
				CEDEARs de ETFs</a
			>
		</strong> o el sitio web de <strong> Byma Data </strong>:
		<strong>
			<a
				href="https://open.bymadata.com.ar/#/nyse-nasdaq-cedears"
				target="_blank"
				rel="noopener noreferrer">
				CEDEARs de ETFs</a
			>
		</strong>

		<h3>Índices Bursátiles</h3>
		<p>
			Un índice bursátil es una medida estadística que refleja el
			comportamiento de un conjunto de activos. Es útil para evaluar el
			rendimiento general del mercado en un período determinado, en lugar
			de analizar cada acción individualmente. Por ejemplo, el S&P 500
			refleja el comportamiento de las 500 empresas más grandes de EE.UU.
		</p>

		<h2>Principales índices de EE.UU.</h2>
		<strong class="">
			<a
				href="https://es.investing.com/indices/usa-indices"
				target="_blank">
				Índices bursátiles de EE.UU. en Investing.com
			</a>
		</strong>

		<h3 class="mt-4">S&P 500 (SPX)</h3>

		<p>
			Refleja el comportamiento de las <strong>
				500 empresas de mayor capitalización bursátil.</strong
			> Es el índice más representativo de la bolsa estadounidense y a nivel
			mundial.
			<strong>
				<a
					href="https://es.investing.com/indices/us-spx-500"
					target="_blank">
					S&P 500 en Investing.com
				</a>
			</strong>
		</p>

		<h3>NASDAQ Composite (IXIC)</h3>
		<p>
			Índice principalmente <strong>
				compuesto por acciones tecnológicas.</strong
			> Incluye empresas de EE.UU. y de otros países, abarcando diversos sectores
			como financieros, biotecnología y software.
			<strong>
				<a
					href="https://es.investing.com/indices/nq-100"
					target="_blank">
					NASDAQ Composite en Investing.com
				</a>
			</strong>
		</p>

		<h3>Dow Jones Industrial Average (DJIA)</h3>
		<p>
			Índice principalmente compuesto por acciones tecnológicas. Incluye
			más de <strong> 3,000 empresas de EE.UU. y de otros países</strong>,
			abarcando diversos sectores como financieros, biotecnología y
			software.
			<strong>
				<a
					href="https://es.investing.com/indices/us-30"
					target="_blank">
					Dow Jones Industrial Average en Investing.com
				</a>
			</strong>
		</p>

		<h3>Russell 2000 (RUT)</h3>
		<p>
			El Russell 2000 mide el rendimiento de las <strong
				>2,000 empresas más pequeñas</strong
			> del índice Russell 3000, que representa el mercado estadounidense en
			su totalidad. Es un indicador importante del desempeño de las pequeñas
			empresas y proporciona una perspectiva sobre este segmento del mercado.
			<strong
				><a
					href="https://es.investing.com/indices/smallcap-2000"
					target="_blank">Russell 2000 en Investing.com</a
				></strong
			>
		</p>

		<p>
			Los índices bursátiles no se pueden comprar directamente, pero es
			posible invertir en ellos de manera indirecta a través de ETFs
			(Exchange-Traded Funds). Estos fondos replican el rendimiento de los
			índices y proporcionan una forma diversificada de inversión en
			mercados internacionales sin necesidad de comprar acciones
			individuales.
		</p>

		<p>
			<strong>Accesibilidad:</strong> A diferencia de los fondos comunes de
			inversión (FCI), los ETFs se compran y venden como acciones a través
			de CEDEARs, facilitando el acceso a estos fondos en el mercado argentino.
		</p>

		<p>
			Para más información sobre los CEDEARs de ETFs y cómo invertir en
			ellos, visita la sección completa en el siguiente <a
				href="tu_link_a_la_seccion_completa"
				target="_blank">enlace</a
			>.
		</p>

		<h3>Ejemplos de ETFs Disponibles:</h3>
		<ul>
			<li>
				<strong>SPY:</strong> Replica el índice S&P 500, que incluye 500
				de las principales empresas en EE.UU.
			</li>
			<li>
				<strong>QQQ:</strong> Sigue el Nasdaq-100, un índice que incluye
				100 de las mayores empresas no financieras en Nasdaq.
			</li>
			<li>
				<strong>VTI:</strong> Replica el índice CRSP US Total Market, que
				cubre todas las acciones en el mercado de EE.UU.
			</li>
			<li>
				<strong>GLD:</strong> Sigue el precio del oro, proporcionando exposición
				al mercado de metales preciosos.
			</li>
		</ul>
	</p>

	<p>
		Los CEDEARs de ETFs son una herramienta valiosa para los inversores que
		buscan diversificar su portafolio, acceder a mercados internacionales y
		aprovechar las oportunidades globales de inversión. Con su flexibilidad
		y eficiencia, los ETFs pueden ser una opción atractiva dentro del
		mercado argentino.
	</p>
	<p>
		<strong>Accesibilidad:</strong> A diferencia de los fondos comunes de inversión
		(FCI), los ETFs se compran y venden como acciones a través de CEDEARs.
	</p>
</PageContent>
