---
import PageContent from "@components/ui/PageContent.astro";
import header from "../../../img/instrumentos-children.png";
import NormalVideo from "@components/ui/NormalVideo.astro";
---

<PageContent title="CEDEARs de ETFs" headerImage={header}>
	<h2>CEDEARs de ETFs (Exchange-Traded Funds)</h2>

	<p>
		<strong>Fondos Cotizados en Bolsa (ETFs):</strong> Los CEDEARs permiten invertir
		en ETFs, que son fondos que cotizan en bolsa y replican el rendimiento de
		un índice, sector o activo específico. Estos fondos proporcionan una forma
		diversificada de inversión en mercados internacionales sin la necesidad de
		comprar acciones individuales.
	</p>
	<p>
		Un ETF (Exchange-Traded Fund) es un híbrido entre un fondo de inversión
		y un activo cotizado en el mercado, como acciones o bonos. Actualmente,
		existen más de 8.000 ETFs a nivel mundial, diseñados para replicar el
		rendimiento de diferentes activos, como índices bursátiles, industrias,
		materias primas, monedas, entre otros. En Argentina, los ETFs se pueden
		adquirir a través de CEDEARs y por momento tenemos 9 disponibles.
	</p>
	<p>
		Algunas características compartidas con los Fondos Comunes de Inversión
		(FCI) son la gestión por un portfolio manager y la adquisición de
		participaciones por parte de los inversores. Sin embargo, los ETFs se
		destacan por cotizar en bolsas de valores como acciones individuales, lo
		que les confiere mayor flexibilidad y liquidez.
	</p>

	<h2>Principales Índices de EE.UU. y ETFs Destacados</h2>

	<h3>Principales Índices de EE.UU.</h3>
	<p>
		Los índices bursátiles de EE.UU. ofrecen una visión general del
		rendimiento del mercado. A continuación, se detallan algunos de los más
		representativos:
	</p>
	<ul>
		<li>
			<strong>S&P 500 (SPX)</strong>
			<p>
				Refleja el comportamiento de las <strong
					>500 empresas de mayor capitalización bursátil</strong
				>. Es el índice más representativo de la bolsa estadounidense y
				a nivel mundial. <strong
					><a
						href="https://es.investing.com/indices/us-spx-500"
						target="_blank">Ver más en Investing.com</a
					>
				</strong>
			</p>
		</li>
		<li>
			<strong>NASDAQ Composite (IXIC)</strong>
			<p>
				Índice compuesto principalmente por <strong
					>acciones tecnológicas</strong
				>, abarcando sectores como finanzas, biotecnología y software. <strong>
					<a
						href="https://es.investing.com/indices/nq-100"
						target="_blank">Ver más en Investing.com</a
					>
				</strong>
			</p>
		</li>
		<li>
			<strong>Dow Jones Industrial Average (DJIA)</strong>
			<p>
				Incluye las <strong
					>30 empresas industriales más importantes</strong
				> de EE.UU. Es un índice clave para medir la salud del sector industrial
				estadounidense. <strong>
					<a
						href="https://es.investing.com/indices/us-30"
						target="_blank">Ver más en Investing.com</a
					>
				</strong>
			</p>
		</li>
		<li>
			<strong>Russell 2000 (RUT)</strong>
			<p>
				Mide el rendimiento de las <strong
					>2,000 empresas más pequeñas</strong
				> del índice Russell 3000, proporcionando una perspectiva sobre el
				segmento de pequeñas empresas. <strong>
					<a
						href="https://es.investing.com/indices/smallcap-2000"
						target="_blank">Ver más en Investing.com</a
					>
				</strong>
			</p>
		</li>
	</ul>

	<h3>ETFs Destacados en EE.UU.</h3>
	<p>
		Los ETFs (Exchange-Traded Funds) permiten a los inversores diversificar
		su cartera de manera eficiente. Aquí se presentan algunos ETFs
		importantes:
	</p>
	<ul>
		<li>
			<strong>SPY:</strong> Replica el índice S&P 500, que incluye 500 de las
			principales empresas en EE.UU.
		</li>
		<li>
			<strong>QQQ:</strong> Sigue el Nasdaq-100, un índice que incluye 100
			de las mayores empresas no financieras en Nasdaq.
		</li>
		<li>
			<strong>DIA:</strong> Replica el índice Dow Jones Industrial Average,
			compuesto por 30 grandes empresas industriales de EE.UU.
		</li>
		<li>
			<strong>IWM:</strong> Sigue el índice Russell 2000, que incluye 2,000
			pequeñas empresas en EE.UU.
		</li>
		<li>
			<strong>GLD:</strong> Sigue el precio del oro, proporcionando exposición
			al mercado de metales preciosos.
		</li>
		<li>
			<strong>VTI:</strong> Replica el índice CRSP US Total Market, cubriendo
			todas las acciones en el mercado de EE.UU.
		</li>
		<li>
			<strong>ARKK:</strong> ETF de ARK Innovation, enfocado en empresas innovadoras
			en tecnología y biotecnología.
		</li>
		<li>
			<strong>XOM:</strong> ETF de Energy Select Sector SPDR Fund, centrado
			en empresas del sector energético.
		</li>
		<li>
			<strong>SLV:</strong> Sigue el precio de la plata, proporcionando exposición
			al mercado de metales preciosos.
		</li>
		<li>
			<strong>IBB:</strong> ETF de iShares NASDAQ Biotechnology, enfocado en
			empresas del sector biotecnológico.
		</li>
	</ul>

	<h3>Explora el directorio de los ETFs y como se componen enlaces:</h3>

	<p>
		Visita <strong
			><a href="https://etfdb.com/screener/" target="_blank"
				>ETF Database</a
			></strong
		> , <strong
			><a href="https://finviz.com/map.ashx?t=etf" target="_blank">
				Finviz
			</a></strong
		> y <strong
			><a href="https://es-us.finanzas.yahoo.com/etfs" target="_blank">
				Yahoo Finanzas</a></strong
		> para obtener una visión detallada del directorio de ETFs. En estas plataformas,
		podrás consultar la composición de cada ETF y los porcentajes que representan
		en su índice correspondiente, están organizados por categorías y sectores.
	</p>

	<h3>CEDEARs de ETFs Disponibles en el Mercado Argentino</h3>
	<p>
		En Argentina, se pueden operar CEDEARs de ETFs que permiten acceder a
		una variedad de mercados internacionales. Aquí están algunos de los
		CEDEARs de ETFs disponibles:
	</p>
	<ul>
		<li><strong>Invesco QQQ Trust</strong> - Replica el Nasdaq-100.</li>
		<li>
			<strong>ARK Innovation</strong> - ETF centrado en innovación tecnológica
			y biotecnológica.
		</li>
		<li><strong>SPDR S&P 500</strong> - Replica el índice S&P 500.</li>
		<li>
			<strong>iShares Trust Russell 2000</strong> - Sigue el índice Russell
			2000.
		</li>
		<li>
			<strong>iShares MSCI Emerging Market</strong> - Ofrece exposición a mercados
			emergentes.
		</li>
		<li>
			<strong>Financial Select Sector SPDR Fund</strong> - ETF del sector financiero.
		</li>
		<li>
			<strong>Energy Select Sector SPDR Fund</strong> - ETF del sector energético.
		</li>
		<li>
			<strong>SPDR Dow Jones Industrial</strong> - Replica el índice Dow Jones
			Industrial Average.
		</li>
		<li>
			<strong>iShares MSCI Brazil Cap</strong> - ETF enfocado en el mercado
			brasileño.
		</li>
	</ul>

	<NormalVideo
		title="🦈 Memorias de Tiburón"
		description="✅ ¿QUÉ SON los ETF y cómo funcionan? La MEJOR INVERSIÓN para aquellos que tienen menos conocimientos."
		videoid="S5ORSWUhP5Q"
	/>

	<h3>Ventajas de Invertir en ETFs a través de CEDEARs:</h3>
	<ul>
		<li>
			<strong>Diversificación:</strong> Invertir en ETFs permite acceder a
			una cartera diversificada de activos con una sola transacción, lo que
			ayuda a reducir el riesgo.
		</li>
		<li>
			<strong>Accesibilidad:</strong> Los CEDEARs de ETFs se compran y venden
			en el mercado argentino, facilitando el acceso a estos fondos sin necesidad
			de operar directamente en mercados internacionales.
		</li>
		<li>
			<strong>Costos:</strong> Los ETFs suelen tener costos de gestión más
			bajos en comparación con los FCI tradicionales, lo que puede resultar
			en menores gastos para el inversor.
		</li>
		<li>
			<strong>Liquidez:</strong> Los ETFs se negocian en bolsas de valores
			como si fueran acciones individuales, proporcionando una alta liquidez
			y flexibilidad para entrar o salir de posiciones.
		</li>
		<li>
			<strong>Inversiones en diversos sectores y activos:</strong> Los ETFs
			permiten invertir en índices, sectores económicos, materias primas, metales,
			divisas, y más.
		</li>
		<li>
			<strong>Cobro de dividendos:</strong> Es posible recibir dividendos periódicamente
			sin necesidad de comprar las acciones subyacentes.
		</li>
	</ul>

	<p>
		Para ver como cotizan los índices de los CEDEARs de ETFs disponibles en
		el mercado argentino, puedes visitar el sitio web de la <strong
			><a
				href="https://cajadevalores.com.ar/Servicios/Cedears"
				target="_blank"
				rel="noopener noreferrer">Caja de Valores</a
			></strong
		> o el sitio web de <strong
			><a
				href="https://open.bymadata.com.ar/#/nyse-nasdaq-cedears"
				target="_blank"
				rel="noopener noreferrer">Byma Data</a
			></strong
		>.
	</p>

	<h3>Índices Bursátiles</h3>
	<p>
		Un índice bursátil es una medida estadística que refleja el
		comportamiento de un conjunto de activos. Es útil para evaluar el
		rendimiento general del mercado en un período determinado, en lugar de
		analizar cada acción individualmente. Por ejemplo, el S&P 500 refleja el
		comportamiento de las 500 empresas más grandes de EE.UU.
	</p>

	<h3>Principales Gestores de ETFs</h3>
	<p>Las empresas más importantes que administran ETFs son:</p>
	<ul>
		<li>BlackRock (iShares)</li>
		<li>Vanguard</li>
		<li>Invesco</li>
		<li>Fidelity</li>
		<li>Schwab</li>
		<li>State Street Global Advisors (SPDR)</li>
		<li>J.P. Morgan Asset Management</li>
		<li>Franklin Templeton</li>
		<li>Dimensional Fund Advisors (DFA)</li>
	</ul>

	<NormalVideo
		title="🦈 Memorias de Tiburón"
		description="⚠️La EMPRESA que CONTROLA EL MUNDO en secreto gracias a tu colaboración⚠️"
		videoid="EqNJTVUXugM"
	/>

	<h3>Tipos de ETFs Disponibles en el Mercado Exterior</h3>
	<ul>
		<li>
			<strong>ETF de Acciones de Crecimiento:</strong> Ejemplos: IWV, VUG.
		</li>
		<li>
			<strong>ETF de Acciones de Valor:</strong> Ejemplos: ACES, IVE, VTV.
		</li>
		<li><strong>ETF de Dividendos:</strong> Ejemplo: NOBL.</li>
		<li>
			<strong>ETF Inversos:</strong> Permiten cubrirse de las caídas del mercado
			o ganar a la baja. Ejemplos: DOG (Dow Jones), PSQ (Nasdaq 100), SH (S&P
			500).
		</li>
		<li>
			<strong>ETF de Bitcoin:</strong> Ejemplo: BetaPro Inverse Bitcoin ETF
			(BITI).
		</li>
	</ul>

	<p>
		<strong>Accesibilidad:</strong> A diferencia de los fondos comunes de inversión
		(FCI), los ETFs se compran y venden como acciones a través de CEDEARs, facilitando
		el acceso a estos fondos en el mercado argentino.
	</p>

	<h3>Conclusión</h3>
	<p>
		Los CEDEARs de ETFs son una herramienta valiosa para los inversores que
		buscan diversificar su portafolio, acceder a mercados internacionales y
		aprovechar las oportunidades globales de inversión. Con su flexibilidad
		y eficiencia, los ETFs pueden ser una opción atractiva dentro del
		mercado argentino.
	</p>
</PageContent>
