---
import Link from "@components/ui/Link.astro";
import PageContent from "../components/ui/PageContent.astro";
import header from "../img/analisis-fundamental.png";
---

<PageContent title="Análisis Fundamental" headerImage={header}>
	<h2>Análisis Fundamental</h2>

	<h3>¿Qué es el Análisis Fundamental?</h3>
	<p>
		El análisis fundamental busca determinar el verdadero valor de una
		acción o título. Esto se refiere al <strong>valor fundamental</strong>,
		que representa el valor intrínseco de un activo según factores
		económicos, financieros y de mercado.
	</p>

	<h3>Ejemplo Práctico: Comprar un Auto</h3>
	<ol>
		<li>
			<strong>Precio en la Revista</strong>: Supongamos que ves un auto en
			una revista con un precio de U$S 100.000.
		</li>
		<li>
			<strong>Valor Estimado</strong>: Basado en el estado del auto
			(kilometraje alto, detalles de pintura, necesidades de reparación),
			determines que el valor justo es U$S 80.000.
		</li>
		<li>
			<strong>Negociación</strong>: Intentas comprar el auto por debajo
			del valor estimado, digamos U$S 78.000, para tener un mejor trato.
		</li>
	</ol>

	<p>
		En el mercado de valores, el proceso es similar. Evalúas el valor real
		de una acción comparado con su precio de mercado para decidir si
		comprar, vender o mantener la acción.
	</p>

	<h3>Diferencia entre Precio y Valor</h3>
	<ul>
		<li>
			<strong>Precio</strong>: Es el monto que pagas por un título o
			acción en el mercado.
		</li>
		<li>
			<strong>Valor</strong>: Es la estimación del verdadero valor del
			activo basado en su desempeño y perspectivas futuras.
		</li>
	</ul>

	<p>
		Como lo expresa Warren Buffett: "El precio es lo que pagás. El valor es
		lo que recibís."
	</p>

	<h3>Comparación con el Análisis Técnico</h3>
	<ul>
		<li>
			<strong>Análisis Técnico (AT)</strong>: Se enfoca en <strong
				>¿Cuándo?</strong
			> comprar o vender basado en patrones de precios y volúmenes de negociación.
		</li>
		<li>
			<strong>Análisis Fundamental (AF)</strong>: Se enfoca en <strong
				>¿Qué?</strong
			> estás comprando, evaluando el valor intrínseco del activo.
		</li>
	</ul>

	<h3>Conclusión</h3>
	<p>
		<strong>Ambos Análisis</strong>: El análisis técnico y el análisis
		fundamental no son mutuamente excluyentes. Utilizar ambos en conjunto
		proporciona una visión más completa para tomar decisiones de inversión
		informadas.
	</p>
</PageContent>
