---
import PageContent from "../components/ui/PageContent.astro";
import header from "../img/wallet.png";
---

<PageContent title="Bolsa de Valores" headerImage={header}>
	<p class="mb-4 text-pretty">
		La bolsa de valores es un mercado donde se compran y venden acciones de
		empresas, así como otros instrumentos financieros como bonos y fondos de
		inversión. Es un componente crucial del sistema financiero porque
		permite a las empresas obtener capital para crecer y a los inversores la
		oportunidad de participar en el éxito de estas empresas.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Funciones de la Bolsa de Valores
	</h2>
	<ol>
		<li class="mb-4 text-pretty">
			<strong>Financiamiento para Empresas:</strong> Las empresas pueden recaudar
			dinero emitiendo acciones al público. Por ejemplo, cuando una empresa
			como Apple necesita capital para expandirse o desarrollar nuevos productos,
			puede vender una parte de su propiedad en forma de acciones. Los inversores
			que compran estas acciones se convierten en propietarios parciales de
			la empresa.
		</li>
		<li class="mb-4 text-pretty">
			<strong>Oportunidades de Inversión:</strong> Los inversores pueden comprar
			acciones para participar en las ganancias de una empresa. Si la empresa
			crece y se vuelve más rentable, el valor de las acciones puede aumentar,
			proporcionando ganancias de capital. Además, algunas empresas pagan dividendos,
			que son distribuciones periódicas de las ganancias de la empresa a los
			accionistas.
		</li>
		<li class="mb-4 text-pretty">
			<strong>Liquidez:</strong> La bolsa de valores proporciona un mercado
			donde los inversores pueden comprar y vender acciones rápidamente. Esto
			significa que los inversores pueden convertir sus inversiones en efectivo
			cuando lo necesiten.
		</li>
	</ol>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Ejemplo de Cómo Funciona la Bolsa de Valores
	</h2>
	<p class="mb-4 text-pretty">
		Imagina que eres dueño de una pequeña parte de una empresa a través de
		acciones. Supongamos que compras 100 acciones de una empresa tecnológica
		por $10 cada una. La empresa lanza un nuevo producto innovador y sus
		ganancias aumentan significativamente. Como resultado, el precio de las
		acciones sube a $20. Si decides vender tus acciones a este nuevo precio,
		habrás doblado tu inversión inicial, obteniendo una ganancia de $1000
		($2000 de venta - $1000 de compra).
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Tipos de Instrumentos en la Bolsa de Valores
	</h2>
	<ol>
		<li class="mb-4 text-pretty">
			<strong>Acciones:</strong> Representan una fracción del capital social
			de una empresa. Comprar una acción significa que posees una parte de
			esa empresa.
		</li>
		<li class="mb-4 text-pretty">
			<strong>Bonos:</strong> Son instrumentos de deuda emitidos por empresas
			o gobiernos para recaudar capital. Los bonos pagan intereses periódicos
			y devuelven el capital invertido al vencimiento.
		</li>
		<li class="mb-4 text-pretty">
			<strong>Fondos de Inversión y ETFs (Exchange-Traded Funds):</strong>
			Son carteras de acciones y/o bonos que se gestionan de manera profesional
			y se negocian en la bolsa como si fueran una sola acción.
		</li>
	</ol>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Mecanismo de Negociación
	</h2>
	<p class="mb-4 text-pretty">
		La negociación en la bolsa de valores se realiza a través de
		intermediarios llamados corredores de bolsa, quienes ejecutan las
		órdenes de compra y venta en nombre de los inversores. Hoy en día,
		muchas transacciones se realizan electrónicamente a través de
		plataformas de negociación en línea.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Ejemplos Reales
	</h2>
	<ol>
		<li class="mb-4 text-pretty">
			<strong>La Salida a Bolsa de Facebook:</strong> En 2012, Facebook realizó
			su Oferta Pública Inicial (OPI), recaudando $16 mil millones. Los inversores
			que compraron acciones de Facebook desde el inicio han visto un crecimiento
			significativo en el valor de sus inversiones.
		</li>
		<li class="mb-4 text-pretty">
			<strong>Bonos del Tesoro de Estados Unidos:</strong> Son considerados
			una inversión segura y son emitidos por el gobierno de EE.UU. para financiar
			sus operaciones. Los inversores que compran estos bonos reciben pagos
			de intereses regulares.
		</li>
	</ol>

	<picture class="">
		<h2
			class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold pt-8 mb-4">
			Video Explicativo de Memorias de Tiburón
		</h2>
		<iframe
			style="width: 100%; aspect-ratio: 16/9; border-radius: 1.5rem; margin-bottom: 2rem;"
			src="https://www.youtube.com/embed/3IrCDHTJZDk?si=HHJvasj57QtA-NcU"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</picture>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Conclusión
	</h2>
	<p class="mb-4 text-pretty">
		La bolsa de valores es un pilar esencial del sistema financiero global,
		proporcionando a las empresas acceso a capital y a los inversores
		oportunidades para aumentar su riqueza. Aunque invertir en la bolsa
		puede ser rentable, también conlleva riesgos, y es importante que los
		inversores novatos se eduquen y comprendan estos riesgos antes de
		participar.
	</p>
</PageContent>
