---
import PageContent from "../components/ui/PageContent.astro";
import header from "../img/investment.png";
---

<PageContent title="Comenzar a invertir" headerImage={header}>
	<h1>Guía Completa para Empezar a Invertir con Bull Market Brokers</h1>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Introducción
	</h2>
	<p class="mb-4 text-pretty">
		Bull Market Brokers ofrece una variedad de instrumentos financieros para
		invertir:
	</p>
	<ul>
		<li class="mb-4 text-pretty">Acciones Argentinas</li>
		<li class="mb-4 text-pretty">Títulos Públicos (Bonos)</li>
		<li class="mb-4 text-pretty">
			Obligaciones Negociables (Bonos Corporativos)
		</li>
		<li class="mb-4 text-pretty">CEDEARs</li>
		<li class="mb-4 text-pretty">Cauciones</li>
		<li class="mb-4 text-pretty">Opciones</li>
		<li class="mb-4 text-pretty">Futuros de Dólar</li>
		<li class="mb-4 text-pretty">Fondos Comunes de Inversión</li>
		<li class="mb-4 text-pretty">Letras del Tesoro</li>
		<li class="mb-4 text-pretty">Licitaciones</li>
	</ul>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Aranceles y Comisiones
	</h2>
	<p class="mb-4 text-pretty">
		<strong>Apertura y Mantenimiento de Cuenta:</strong> Sin costo.
	</p>
	<p class="mb-4 text-pretty">
		<strong>Depósitos y Retiros:</strong> Sin costo.
	</p>

	<p class="mb-4 text-pretty">
		<strong>Comisiones Preferenciales por Volumen Mensual Operado:</strong>
	</p>
	<table border="1">
		<thead>
			<tr>
				<th>Instrumento</th>
				<th>Menos de $5M</th>
				<th>Entre $5M y $25M</th>
				<th>Más de $25M</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Acciones, CEDEARs, Bonos</td>
				<td>0.50%</td>
				<td>0.25%</td>
				<td>0.10%</td>
			</tr>
			<tr>
				<td>Opciones y Ejercicios</td>
				<td>0.50%</td>
				<td>0.10%</td>
				<td>0.10%</td>
			</tr>
			<tr>
				<td>Licitaciones (ONs, Bonos y Letras)</td>
				<td>Sin costo</td>
				<td>Sin costo</td>
				<td>Sin costo</td>
			</tr>
			<tr>
				<td>FCIs (Suscripciones y Rescates)</td>
				<td>Sin costo</td>
				<td>Sin costo</td>
				<td>Sin costo</td>
			</tr>
			<tr>
				<td>Futuros (ROFEX)</td>
				<td>0.25%</td>
				<td>0.10%</td>
				<td>0.10%</td>
			</tr>
		</tbody>
	</table>
	<p class="mb-4 text-pretty"><em>Notas:</em></p>
	<ul>
		<li class="mb-4 text-pretty">
			Las comisiones no incluyen IVA ni derechos de mercado.
		</li>
		<li class="mb-4 text-pretty">
			La bonificación de comisiones preferenciales no aplica a clientes de
			Agente Productor.
		</li>
		<li class="mb-4 text-pretty">
			El cobro de rentas y dividendos tiene un cargo administrativo del 1%
			del monto cobrado. No se aplica cargo por amortizaciones.
		</li>
	</ul>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Primeros Pasos en la Bolsa
	</h2>
	<h3>1. Requisitos para Abrir una Cuenta Comitente</h3>
	<p class="mb-4 text-pretty">
		Se deben cumplir los requisitos legales establecidos por la CNV, UIF y
		AFIP. No hay monto mínimo de inversión para abrir una cuenta, aunque se
		recomienda invertir a partir de $25,000.
	</p>

	<h3>2. Apertura de Cuenta</h3>
	<p class="mb-4 text-pretty">
		La cuenta puede abrirse online desde la computadora o el celular. Se
		necesita proporcionar datos personales como DNI, CUIT, nombre, apellido,
		domicilio, y datos de contacto. Es necesario tener una cuenta bancaria a
		nombre del titular para depósitos y retiros.
	</p>

	<h3>3. Primer Fondeo de Cuenta</h3>
	<p class="mb-4 text-pretty">
		La transferencia debe hacerse desde una cuenta bancaria a nombre del
		titular de la cuenta comitente. El primer depósito se acredita en 24
		horas hábiles si se realiza por Homebanking.
	</p>

	<h3>4. Test del Inversor</h3>
	<p class="mb-4 text-pretty">
		Es esencial para obtener asesoramiento personalizado y conocer los
		productos más adecuados.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Apertura de Cuenta por el Móvil
	</h2>
	<h3>1. Creación de Usuario</h3>
	<p class="mb-4 text-pretty">
		Completar con apellido y nombres, DNI, email, número de celular y
		contraseña.
	</p>

	<h3>2. Confirmación de Datos</h3>
	<p class="mb-4 text-pretty">Verificar y modificar datos si es necesario.</p>

	<h3>3. Formulario de Apertura de Cuenta Online</h3>
	<p class="mb-4 text-pretty">
		Seleccionar el tipo de cuenta (personal o empresa). Determinar la
		cantidad de titulares (1, 2 o 3). Proveer datos laborales y aceptar
		términos y condiciones.
	</p>

	<h3>4. Carga de Fotos</h3>
	<p class="mb-4 text-pretty">
		Cargar fotos del DNI y una selfie con el DNI para completar la
		verificación.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Información Adicional
	</h2>
	<ul>
		<li class="mb-4 text-pretty">
			Los depósitos pueden realizarse en pesos o dólares.
		</li>
		<li class="mb-4 text-pretty">
			No se aceptan transferencias desde y hacia cuentas de terceros.
		</li>
		<li class="mb-4 text-pretty">
			Las operaciones se gestionan a través de la plataforma de Bull
			Market Brokers, donde también se puede realizar el test del
			inversor.
		</li>
	</ul>

	<p class="mb-4 text-pretty">
		<strong>Cuentas Bancarias para Transferencias:</strong>
	</p>
	<ul>
		<li class="mb-4 text-pretty">
			<strong>Banco Industrial Pesos:</strong> CBU 3220001805006444990018
		</li>
		<li class="mb-4 text-pretty">
			<strong>Banco Industrial Dólares:</strong> CBU 3220001812006444990029
		</li>
	</ul>
</PageContent>
