---
import PageContent from "../components/ui/PageContent.astro";
import header from "../img/history.png";
import NormalVideo from "../components/ui/NormalVideo.astro";
---

<PageContent title="Historia de la Economía" headerImage={header}>
	<h2>Historia de la Economía</h2>
	<p>historia-de-la-economía</p>
	<NormalVideo
		videoid="mXlUW1vA4yQ"
		title={"🦈 Memorias de Tiburón"}
		description={"✅ La HISTORIA DE LA ECONOMIA parte 1 | De la prehistoria a la edad media."}
	/>
	<p>historia-de-la-economía-2</p>

	<NormalVideo
		videoid="80chPm8uelU"
		title={"🦈 Memorias de Tiburón"}
		description={"✅ La HISTORIA DE LA ECONOMIA parte 1 | De la prehistoria a la edad media."}
	/>

</PageContent>
