---
import header from "../img/profile.png";
import PageContent from "../components/ui/PageContent.astro";
---

<PageContent title="Determinación de perfil del inversor" headerImage={header}>
	<p class="mb-4 text-pretty">
		<a
			class="-my-0.5 inline-block rounded bg-[--lightblue] px-1.5 py-px font-mono text-[13px] text-[--darkblue] sm:text-base"
			href="https://iol.invertironline.com/User/test-del-inversor?_gl=1*1itixmp*_gcl_aw*R0NMLjE3MjE2NjMwOTUuQ2p3S0NBandodmkwQmhBNEVpd0FYMjV1anl0WDVBWC1NNXBxLUhUNmNtRWQ5dGFqandkakE5R3JPNU53alA0Ry1id3ZORkY3aE1KNjlCb0N6bFVRQXZEX0J3RQ..*_gcl_au*OTA1MzY2MDAzLjE3MjE2NjMwOTQ.*_ga*MTcwNjM0MDkyMi4xNzIxNjYzMDk1*_ga_3ZJ55WFL39*MTcyMTY2MzA5NS4xLjAuMTcyMTY2MzExMi40My4wLjA."
			target="_blank"
			rel="noopener">Invertir online</a
		> presenta un enfoque simple para determinar el perfil del inversor individual
		al decidir la composición de su cartera dentro de un portafolio diversificado
		que incluya activos locales e internacionales. Esta versión es una de las
		varias opciones disponibles para este test.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Identificación del Perfil del Inversor
	</h2>
	<p class="mb-4 text-pretty">
		Existen dos tópicos importantes que caracterizan el perfil de un
		inversor individual:
	</p>
	<ol>
		<li class="mb-4 text-pretty">
			<strong>Horizonte Temporal</strong>: Se refiere al período de
			inversión objetivo del inversor al tomar la decisión de invertir su
			riqueza. Responde a preguntas como:
			<ul>
				<li class="mb-4 text-pretty">
					¿A qué plazo temporal voy a administrar mi cartera?
				</li>
				<li class="mb-4 text-pretty">
					¿Cuándo voy a comenzar a realizar retiros de fondos de mi
					cartera y a qué velocidad?
				</li>
			</ul>
			<p class="mb-4 text-pretty">
				Si el plazo de inversión es largo (o no se realizarán grandes
				retiros de fondos), el inversor puede sentirse cómodo con una
				cartera de inversión que implique un gran potencial de
				crecimiento y un significativo riesgo, ya que el plazo de
				inversión es suficientemente largo para sobrellevar las subas y
				bajas del mercado.
			</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Tolerancia al Riesgo</strong>: Se refiere a la actitud y
			predisposición del inversor para ver la valuación de su portafolio
			fluctuar al alza y a la baja. Responde a la pregunta:
			<ul>
				<li class="mb-4 text-pretty">
					¿Cómo me siento frente a la decisión de exponerme a riesgos?
				</li>
			</ul>
			<p class="mb-4 text-pretty">
				Diferentes inversiones poseen distintas volatilidades; algunas
				fluctúan más que otras pero tienen mayor potencial de
				rendimientos. Es crucial seleccionar activos que se encuentren
				dentro de nuestros niveles de tolerancia al riesgo.
			</p>
		</li>
	</ol>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Test del Inversor
	</h2>
	<p class="mb-4 text-pretty">
		Para conocer su perfil como inversor, conteste de forma meditada y
		veraz. Recuerde que ser más tolerante al riesgo no significa ser un
		mejor inversor.
	</p>

	<h3
		class="inline-block rounded bg-[--lightblue] px-1.5 py-px my-2 text-xl text-[--darkblue] sm:text-base">
		Metodología del Test
	</h3>
	<ol>
		<li class="mb-4 text-pretty">
			Seleccione una alternativa por pregunta.
		</li>
		<li class="mb-4 text-pretty">
			Los puntos correspondientes a cada pregunta están a la derecha de
			cada opción.
		</li>
		<li class="mb-4 text-pretty">
			Sume los puntos de cada sección y anótelos en los cuadros de
			totales.
		</li>
		<li class="mb-4 text-pretty">
			Finalizado el cuestionario, sus respuestas determinarán su perfil
			como inversor. El gráfico al final del test muestra el perfil de
			riesgo según los puntajes obtenidos en las secciones de Horizonte
			Temporal y Tolerancia al Riesgo.
		</li>
	</ol>

	<h3
		class="inline-block rounded bg-[--lightblue] px-1.5 py-px my-2 text-xl text-[--darkblue] sm:text-base">
		Sección: Horizonte Temporal
	</h3>
	<ol>
		<li class="mb-4 text-pretty">
			Planeo iniciar el retiro de fondos de mi cartera dentro de:
			<ul>
				<li class="mb-4 text-pretty">A: Menos de 3 años</li>
				<li class="mb-4 text-pretty">B: Entre 3 y 5 años</li>
				<li class="mb-4 text-pretty">C: Entre 6 y 10 años</li>
				<li class="mb-4 text-pretty">D: Dentro de 11 o más</li>
			</ul>
		</li>
		<li class="mb-4 text-pretty">
			A partir del momento que decido empezar a retirar mis fondos, planeo
			retirarlos en:
			<ul>
				<li class="mb-4 text-pretty">A: Menos de 2 años</li>
				<li class="mb-4 text-pretty">B: Entre 2 y 5 años</li>
				<li class="mb-4 text-pretty">C: Entre 6 y 10 años</li>
				<li class="mb-4 text-pretty">D: Dentro de 11 o más</li>
			</ul>
		</li>
	</ol>

	<h3
		class="inline-block rounded bg-[--lightblue] px-1.5 py-px my-2 text-xl text-[--darkblue] sm:text-base">
		Sección: Tolerancia al Riesgo
	</h3>
	<ol>
		<li class="mb-4 text-pretty">
			Describiría mis conocimientos sobre INVERTIR como:
			<ul>
				<li class="mb-4 text-pretty">A: Nulos</li>
				<li class="mb-4 text-pretty">B: Limitados</li>
				<li class="mb-4 text-pretty">C: Buenos</li>
				<li class="mb-4 text-pretty">D: Muy buenos</li>
			</ul>
		</li>
		<li class="mb-4 text-pretty">
			Cuando invierto mi dinero, estoy:
			<ul>
				<li class="mb-4 text-pretty">
					A: Mayormente preocupado por las pérdidas de valor de mi
					cartera
				</li>
				<li class="mb-4 text-pretty">
					B: Preocupado por las pérdidas y ganancias de valor de mi
					cartera
				</li>
				<li class="mb-4 text-pretty">
					C: Mayormente preocupado por las ganancias de valor de mi
					cartera
				</li>
			</ul>
		</li>
		<li class="mb-4 text-pretty">
			¿Qué inversiones realiza o ha realizado en forma más frecuente?
			<ul>
				<li class="mb-4 text-pretty">
					A: Cajas de ahorro o cuenta corriente o plazo fijo
				</li>
				<li class="mb-4 text-pretty">
					B: Bonos nacionales o fondos que invierten en ellos
				</li>
				<li class="mb-4 text-pretty">
					C: Acciones o fondos que invierten en ellas
				</li>
				<li class="mb-4 text-pretty">
					D: Acciones y/o bonos internacionales o fondos que invierten
					en ellos
				</li>
			</ul>
		</li>
		<li class="mb-4 text-pretty">
			Imagine que en los últimos 3 meses, el mercado de acciones perdió el
			25% de su valor y una acción en particular que usted tenía también
			perdió el mismo porcentaje. ¿Qué haría usted?
			<ul>
				<li class="mb-4 text-pretty">A: Vender todas mis acciones</li>
				<li class="mb-4 text-pretty">
					B: Vender parte de mis acciones
				</li>
				<li class="mb-4 text-pretty">C: No hacer nada</li>
				<li class="mb-4 text-pretty">D: Comprar más acciones</li>
			</ul>
		</li>
		<li class="mb-4 text-pretty">
			Considere la siguiente tabla de inversiones hipotéticas:
			<table border="1">
				<thead>
					<tr>
						<th>Inversión</th>
						<th>Rendimiento Promedio</th>
						<th>Mejor Escenario</th>
						<th>Peor Escenario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>A</td>
						<td>7.2%</td>
						<td>16.3%</td>
						<td>-5.6%</td>
					</tr>
					<tr>
						<td>B</td>
						<td>9.0%</td>
						<td>25.0%</td>
						<td>-12.1%</td>
					</tr>
					<tr>
						<td>C</td>
						<td>10.4%</td>
						<td>33.6%</td>
						<td>-18.2%</td>
					</tr>
					<tr>
						<td>D</td>
						<td>11.7%</td>
						<td>42.8%</td>
						<td>-24.0%</td>
					</tr>
					<tr>
						<td>E</td>
						<td>12.5%</td>
						<td>50.0%</td>
						<td>-28.2%</td>
					</tr>
				</tbody>
			</table>
		</li>
	</ol>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Perfiles de Inversor
	</h2>
	<p class="mb-4 text-pretty">
		Según los puntajes obtenidos, su perfil puede ser:
	</p>
	<ul>
		<li class="mb-4 text-pretty">
			<strong>Corto Plazo: Conservador</strong>
			<p class="mb-4 text-pretty">Composición: Bonos 40%, Efectivo 60%</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Corto Plazo: Especulativo</strong>
			<p class="mb-4 text-pretty">
				Composición: Acciones líderes de gran y pequeña capitalización
				100%
			</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Conservador</strong>
			<p class="mb-4 text-pretty">
				Composición: Bonos 55%, Efectivo 25%, Acciones líderes 20%
			</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Moderadamente Conservador</strong>
			<p class="mb-4 text-pretty">
				Composición: Bonos 45%, Efectivo 15%, Acciones líderes 40%
			</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Moderado</strong>
			<p class="mb-4 text-pretty">
				Composición: Bonos 30%, Efectivo 10%, Acciones líderes 60%
			</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Moderadamente Agresivo</strong>
			<p class="mb-4 text-pretty">
				Composición: Bonos 15%, Efectivo 5%, Acciones líderes 80%
			</p>
		</li>
		<li class="mb-4 text-pretty">
			<strong>Agresivo</strong>
			<p class="mb-4 text-pretty">
				Composición: Bonos 0%, Efectivo 5%, Acciones líderes 95%
			</p>
		</li>
	</ul>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Estrategias según su Perfil de Inversor
	</h2>
	<p class="mb-4 text-pretty">
		Estas estrategias reflejan cómo un inversor debería distribuir su dinero
		de manera genérica. Es recomendable revisar periódicamente el perfil
		para adaptar la cartera a las necesidades de cada momento de la vida.
	</p>

	<h
		class="inline-block rounded bg-[--lightblue] px-1.5 py-px my-2 text-xl text-[--darkblue] sm:text-base"
		>Requisitos para Abrir una Cuenta por el Móvil</h
	>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Documentación Personal
	</h2>
	<p class="mb-4 text-pretty">
		Para abrir una cuenta comitente a través de una aplicación móvil,
		generalmente se requiere la siguiente documentación personal:
	</p>
	<ul>
		<li>Documento Nacional de Identidad (DNI) o pasaporte válido.</li>
		<li>
			Comprobante de domicilio (factura de servicios, extracto bancario,
			etc.).
		</li>
		<li>Copia de la constancia de CUIL o CUIT.</li>
	</ul>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Proceso de Verificación Digital
	</h2>
	<p class="mb-4 text-pretty">
		El proceso de verificación digital suele incluir:
	</p>
	<ul>
		<li>
			Tomar una foto del DNI o pasaporte utilizando la cámara del móvil.
		</li>
		<li>Tomar una selfie para verificar la identidad en tiempo real.</li>
		<li>Subir una foto del comprobante de domicilio.</li>
	</ul>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Formulario de Apertura de Cuenta
	</h2>
	<p class="mb-4 text-pretty">
		Completar y firmar electrónicamente un formulario de apertura de cuenta
		proporcionado por la aplicación móvil del ALyC. Este formulario incluye
		información personal, financiera y de contacto.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Declaración Jurada de Origen y Aplicación de Fondos
	</h2>
	<p class="mb-4 text-pretty">
		Al abrir una cuenta comitente a través de una aplicación móvil, es
		obligatorio completar una declaración jurada de origen y aplicación de
		fondos, en cumplimiento con las normativas de prevención de lavado de
		dinero y financiación del terrorismo.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Firma de Contratos
	</h2>
	<p class="mb-4 text-pretty">
		El ALyC proporcionará varios contratos que deben ser firmados
		electrónicamente, los cuales establecen los términos y condiciones del
		servicio, así como las responsabilidades de ambas partes.
	</p>

	<h2
		class="text-pretty text-sm leading-normal text-[--darkblue] sm:text-lg lg:text-xl font-bold">
		Verificación y Aprobación
	</h2>
	<p class="mb-4 text-pretty">
		Una vez presentada toda la documentación y formularios necesarios, el
		ALyC procederá a la verificación y aprobación de la cuenta. Este proceso
		puede incluir la revisión de antecedentes y la validación de la
		información proporcionada.
	</p>
</PageContent>
