---
import header from "../img/perfiles.png";
import PageContent from "../components/ui/PageContent.astro";
import Link from "@components/ui/Link.astro";
---

<PageContent title="Perfiles del Inversor" headerImage={header}>
	<p>
		Determinar tu perfil de inversor es esencial para tomar decisiones
		informadas sobre tu cartera de inversiones. Este proceso te ayuda a
		identificar tu horizonte temporal y tu tolerancia al riesgo, lo que
		influye en cómo deberías componer tu cartera.
	</p>

	<h2>¿Cómo Identificar Tu Perfil de Inversor?</h2>

	<p>
		Para definir tu perfil como inversor, considera los siguientes aspectos:
	</p>

	<h3>1. Horizonte Temporal</h3>
	<p>
		El horizonte temporal es el período durante el cual planeas mantener tus
		inversiones antes de empezar a retirar fondos. Esto puede afectar tu
		tolerancia al riesgo y la elección de tus inversiones.
	</p>
	<ul>
		<li>
			¿Cuánto tiempo planeas invertir antes de empezar a retirar fondos?
		</li>
		<li>¿Cuándo y con qué frecuencia planeas comenzar a retirar fondos?</li>
	</ul>
	<p>
		Un horizonte temporal largo te permite asumir más riesgos, ya que
		tendrás tiempo para superar las fluctuaciones del mercado.
	</p>

	<h3>2. Tolerancia al Riesgo</h3>
	<p>
		Tu tolerancia al riesgo es tu disposición a aceptar fluctuaciones en el
		valor de tu cartera. Es importante alinear tus inversiones con este
		nivel de comodidad.
	</p>
	<ul>
		<li>
			¿Cómo te sientes ante la posibilidad de perder dinero en el corto
			plazo?
		</li>
	</ul>
	<p>
		Diferentes tipos de inversiones tienen distintos niveles de riesgo y
		potencial de rendimiento. Asegúrate de elegir inversiones que se ajusten
		a tu tolerancia al riesgo.
	</p>

	<h2>Test del Inversor</h2>

	<p>
		Responde las siguientes preguntas para conocer mejor tu perfil de
		inversión. Recuerda, no hay una respuesta correcta o incorrecta, sólo la
		que mejor se alinea contigo.
	</p>

	<h3>Sección: Horizonte Temporal</h3>

	<ol>
		<li>
			<strong
				>Planeo iniciar el retiro de fondos de mi cartera dentro de:</strong
			>
			<ul>
				<li>Menos de 3 años</li>
				<li>Entre 3 y 5 años</li>
				<li>Entre 6 y 10 años</li>
				<li>Dentro de 11 o más años</li>
			</ul>
		</li>
		<li>
			<strong
				>A partir del momento en que decido empezar a retirar mis
				fondos, planeo retirarlos en:</strong
			>
			<ul>
				<li>Menos de 2 años</li>
				<li>Entre 2 y 5 años</li>
				<li>Entre 6 y 10 años</li>
				<li>Dentro de 11 o más años</li>
			</ul>
		</li>
	</ol>

	<h3>Sección: Tolerancia al Riesgo</h3>

	<ol>
		<li>
			<strong
				>Describiría mis conocimientos sobre inversiones como:</strong
			>
			<ul>
				<li>Nulos</li>
				<li>Limitados</li>
				<li>Buenos</li>
				<li>Muy buenos</li>
			</ul>
		</li>
		<li>
			<strong> Cuando invierto mi dinero, estoy:</strong>
			<ul>
				<li>Mayormente preocupado por las pérdidas de valor</li>
				<li>Preocupado por las pérdidas y ganancias</li>
				<li>Mayormente preocupado por las ganancias</li>
			</ul>
		</li>
		<li>
			<strong>
				¿Qué tipo de inversiones realizas o has realizado con mayor
				frecuencia?</strong
			>
			<ul>
				<li>Cajas de ahorro o plazo fijo</li>
				<li>Bonos nacionales o fondos de bonos</li>
				<li>Acciones o fondos de acciones</li>
				<li>
					Acciones y/o bonos internacionales o fondos de inversión
					internacional
				</li>
			</ul>
		</li>
		<li>
			<strong
				>Si el mercado de acciones pierde el 25% de su valor y una
				acción que posías también pierde el mismo porcentaje, ¿qué
				harías?</strong
			>
			<ul>
				<li>Vender todas mis acciones</li>
				<li>Vender parte de mis acciones</li>
				<li>No hacer nada</li>
				<li>Comprar más acciones</li>
			</ul>
		</li>
		<li>
			<strong
				>Considera la siguiente tabla de inversiones hipotéticas:</strong
			>
			<ul>
				<li>
					Inversión A: Rendimiento Promedio 7.2%, Mejor Escenario
					16.3%, Peor Escenario -5.6%
				</li>
				<li>
					Inversión B: Rendimiento Promedio 9.0%, Mejor Escenario
					25.0%, Peor Escenario -12.1%
				</li>
				<li>
					Inversión C: Rendimiento Promedio 10.4%, Mejor Escenario
					33.6%, Peor Escenario -18.2%
				</li>
				<li>
					Inversión D: Rendimiento Promedio 11.7%, Mejor Escenario
					42.8%, Peor Escenario -24.0%
				</li>
				<li>
					Inversión E: Rendimiento Promedio 12.5%, Mejor Escenario
					50.0%, Peor Escenario -28.2%
				</li>
			</ul>
		</li>
	</ol>
	<div class="py-4">
		<Link
			nameLink="Hacer test gratis en InvertirOnline"
			target="_blank"
			href="https://www.invertironline.com/herramientas/test-del-inversor"
		/>
	</div>

	<h2>Perfiles de Inversor</h2>

	<p>Según tus respuestas, tu perfil de inversor puede ser:</p>
	<ul>
		<li>
			<strong>Corto Plazo: Conservador</strong> - Bonos 40%, Efectivo 60%
		</li>
		<li>
			<strong>Corto Plazo: Especulativo</strong> - Acciones líderes 100%
		</li>
		<li>
			<strong>Conservador</strong> - Bonos 55%, Efectivo 25%, Acciones líderes
			20%
		</li>
		<li>
			<strong>Moderadamente Conservador</strong> - Bonos 45%, Efectivo 15%,
			Acciones líderes 40%
		</li>
		<li>
			<strong>Moderado</strong> - Bonos 30%, Efectivo 10%, Acciones líderes
			60%
		</li>
		<li>
			<strong>Moderadamente Agresivo</strong> - Bonos 15%, Efectivo 5%, Acciones
			líderes 80%
		</li>
		<li>
			<strong>Agresivo</strong> - Bonos 0%, Efectivo 5%, Acciones líderes 95%
		</li>
	</ul>

	<h2>Estrategias según tu Perfil de Inversor</h2>

	<p>
		Estas estrategias te ayudarán a distribuir tu dinero de manera genérica.
		Recuerda revisar periódicamente tu perfil para ajustar tu cartera a
		medida que cambian tus necesidades.
	</p>

	<strong>Requisitos para Abrir una Cuenta por el Móvil</strong>

	<p>
		Para abrir una cuenta comitente a través de una aplicación móvil, debes
		proporcionar:
	</p>

	<strong>Documentación Personal</strong>
	<ul>
		<li>Documento Nacional de Identidad (DNI) o pasaporte válido.</li>
		<li>
			Comprobante de domicilio (factura de servicios, extracto bancario,
			etc.).
		</li>
		<li>Constancia de CUIL o CUIT.</li>
	</ul>

	<strong>Proceso de Verificación Digital</strong>
	<ul>
		<li>Tomar una foto del DNI o pasaporte con la cámara del móvil.</li>
		<li>Tomar una selfie para verificar tu identidad en tiempo real.</li>
		<li>Subir una foto del comprobante de domicilio.</li>
	</ul>

	<strong>Formulario de Apertura de Cuenta</strong>
	<p>
		Completar y firmar electrónicamente el formulario de apertura de cuenta
		proporcionado por la aplicación móvil. Este formulario incluye
		información personal, financiera y de contacto.
	</p>

	<strong>Declaración Jurada de Origen y Aplicación de Fondos</strong>
	<p>
		Completar una declaración jurada en cumplimiento con las normativas de
		prevención de lavado de dinero y financiación del terrorismo.
	</p>

	<strong>Firma de Contratos</strong>
	<p>
		Firmar electrónicamente varios contratos que establecen los términos y
		condiciones del servicio.
	</p>

	<strong>Verificación y Aprobación</strong>
	<p>
		El ALyC verificará y aprobará tu cuenta, lo que puede incluir la
		revisión de antecedentes y validación de la información proporcionada.
	</p>
</PageContent>
