---
import PageContent from "../components/ui/PageContent.astro";
import header from "../img/security.png";
---

<PageContent
	title="Renta Fija y Renta Variable"
	headerImage={header}>
	<h1>Renta Fija</h1>
	<p><strong>Descripción:</strong></p>
	<p>
		La renta fija se refiere a inversiones en las que el emisor se
		compromete a pagar un interés fijo durante un período determinado y a
		devolver el capital al vencimiento. Son consideradas inversiones de
		menor riesgo en comparación con la renta variable, pero también suelen
		ofrecer rendimientos más bajos.
	</p>

	<h2>Ejemplos de Inversión en Renta Fija:</h2>
	<ul>
		<li>
			<strong>Bonos del Estado:</strong> Emitidos por gobiernos. Por ejemplo,
			Bonos del Tesoro Nacional (BONAR) en Argentina, que pagan un interés
			fijo y devuelven el capital al vencimiento.
		</li>
		<li>
			<strong>Plazos Fijos:</strong> Depósitos en entidades financieras que
			ofrecen una tasa de interés fija durante un período determinado. Ejemplo:
			Plazo fijo a 30 días en pesos.
		</li>
		<li>
			<strong>LEBACs y LETES:</strong> Letras emitidas por el Banco Central
			o el Tesoro Nacional, que ofrecen un rendimiento fijo en un plazo corto.
		</li>
	</ul>

	<h1>Renta Variable</h1>
	<p><strong>Descripción:</strong></p>
	<p>
		La renta variable se refiere a inversiones en las que el rendimiento no
		está garantizado y puede variar. Los ingresos provienen de la
		apreciación del valor del activo y/o de dividendos. Estas inversiones
		suelen tener un mayor potencial de rendimiento, pero también un mayor
		riesgo de pérdida.
	</p>

	<h2>Ejemplos de Inversión en Renta Variable:</h2>
	<ul>
		<li>
			<strong>Acciones:</strong> Participaciones en empresas que cotizan en
			bolsas de valores. Por ejemplo, acciones de YPF en la Bolsa de Comercio
			de Buenos Aires. El valor de las acciones puede subir o bajar, y los
			dividendos son variables.
		</li>
		<li>
			<strong>CEDEARs (Certificados de Depósito Argentinos):</strong> Permiten
			invertir en acciones extranjeras a través de la bolsa argentina. Ejemplo:
			CEDEARs de Apple.
		</li>
		<li>
			<strong>Fondos Comunes de Inversión en Renta Variable:</strong> Fondos
			que invierten en acciones y otros activos de renta variable. Ejemplo:
			un fondo de inversión que invierte en acciones argentinas o internacionales.
		</li>
	</ul>

	<h2>Resumen</h2>
	<p>
		<strong>Renta Fija:</strong> Inversiones con pagos de interés y devolución
		del capital garantizados, como bonos y plazos fijos.
	</p>
	<p>
		<strong>Renta Variable:</strong> Inversiones donde los rendimientos dependen
		del rendimiento del activo y pueden variar, como acciones y CEDEARs.
	</p>
	<p>
		Cada tipo de renta ofrece diferentes perfiles de riesgo y retorno, y la
		elección entre renta fija y renta variable dependerá de los objetivos de
		inversión y la tolerancia al riesgo del inversor.
	</p>
</PageContent>
