---
import PageContent from "../../../components/ui/PageContent.astro";
import header from "../../../img/tools.png";
---

<PageContent title="TIR - Paridad - Duración" headerImage={header}>
	<h2>Medidas de Análisis:</h2>
	<h2>Tasa Interna de Retorno (TIR)</h2>

	<h3>
		TIR (Tasa Interna de Retorno) o YTM (Yield to Maturity / Rendimiento al
		Vencimiento)
	</h3>
	<p>
		La TIR es una de las medidas más utilizadas por los inversores en el
		mundo de los bonos a nivel internacional. Es una herramienta clave en el
		análisis de inversiones porque permite comparar diferentes bonos y
		entender su rentabilidad esperada.
	</p>
	<p>
		<strong>Características principales:</strong>
	</p>
	<ul>
		<li>
			<strong>Medida Anual:</strong> La TIR se expresa en términos anuales,
			lo que facilita la comparación entre inversiones de diferentes duraciones.
		</li>
		<li>
			<strong>Comparación:</strong> La TIR es comúnmente reportada en portales
			financieros y análisis de bonos, permitiendo comparaciones estandarizadas
			entre distintos bonos.
		</li>
	</ul>

	<h3>Cálculo de la TIR</h3>
	<p>
		La TIR se puede calcular utilizando herramientas como Excel, que
		proporciona funciones específicas para este propósito, o se puede
		encontrar en informes de investigación financiera.
	</p>
	<p>
		<strong>Fórmula en Excel:</strong>
	</p>
	<ul>
		<li>
			Utiliza la función <code>TIR()</code> en Excel para calcular la TIR de
			una serie de flujos de efectivo.
		</li>
	</ul>

	<h3>Supuestos de la TIR</h3>
	<p>La TIR asume dos condiciones clave:</p>
	<ol>
		<li>
			<strong>Mantenimiento hasta el vencimiento:</strong> Se debe mantener
			el bono hasta su fecha de vencimiento.
		</li>
		<li>
			<strong>Reinversión a la TIR:</strong> Los flujos de efectivo intermedios
			(intereses) se reinvierten a la misma tasa de TIR.
		</li>
	</ol>

	<h3>TIR como Medida de Rentabilidad</h3>
	<p>
		La TIR permite medir la rentabilidad esperada de una inversión en bonos.
		Es una medida esencial para evaluar cuán atractiva es una inversión en
		comparación con otras oportunidades.
	</p>

	<h3>TIR como Medida de Riesgo</h3>
	<p>La TIR también refleja el riesgo asociado a un bono:</p>
	<ul>
		<li>
			<strong>Mayor Riesgo, Mayor TIR:</strong> Los bonos con mayor riesgo
			tienden a tener una TIR más alta, ya que los inversores requieren una
			mayor rentabilidad para compensar el riesgo adicional.
		</li>
	</ul>

	<h3>Relación entre TIR y Precio del Bono</h3>
	<p>La relación entre el precio de un bono y su TIR es inversa:</p>
	<ul>
		<li>
			<strong>Precio en Baja:</strong> Si el precio del bono baja, la TIR sube.
		</li>
		<li>
			<strong>Precio en Alza:</strong> Si el precio del bono sube, la TIR baja.
		</li>
	</ul>
	<p>
		<strong>Ejemplos prácticos:</strong>
	</p>
	<ul>
		<li>
			<strong>Aumento de la TIR:</strong> Si compras un bono con una TIR del
			10% y, debido a un evento negativo, la TIR exigida por el mercado aumenta
			al 12%, el precio del bono disminuirá.
		</li>
		<li>
			<strong>Disminución de la TIR:</strong> Si el bono tenía una TIR del
			10% y el emisor mejora su calificación, reduciendo la TIR al 6%, el precio
			del bono aumentará, permitiéndote potencialmente venderlo a un precio
			más alto.
		</li>
	</ul>

	<h3>Conclusión</h3>
	<p>
		La TIR es una herramienta esencial tanto para medir la rentabilidad como
		para comparar el nivel de riesgo entre diferentes bonos. Entender la
		relación inversa entre el precio del bono y la TIR es crucial para la
		toma de decisiones informadas en el mercado de bonos.
	</p>
</PageContent>
