---
import Link from "@components/ui/Link.astro";
import PageContent from "../../components/ui/PageContent.astro";
import header from "../../img/analisis-fundamental.png";
---

<PageContent title="Links Útiles - Análisis Fundamental" headerImage={header}>
	<Link
		href="https://es.investing.com/"
		target="_blank"
		nameLink="Investing"
	/>
	<p>
		Esta página ofrece una amplia cantidad de información actual e histórica
		sobre empresas, incluyendo el perfil de la compañía, datos financieros,
		dividendos, cuenta de resultados y ratios, con la opción de compararlos
		con los de la industria. Además, permite crear y seguir activamente una
		cartera de renta variable.
	</p>
	<Link
		href="https://es-us.finanzas.yahoo.com/"
		target="_blank"
		nameLink="Yahoo Finanzas"
	/>
	<p>
		Excelente para análisis fundamental. Para cada empresa, presenta un
		resumen con información clave y acceso a estadísticas detalladas,
		balances anuales y trimestrales, resultados, estados financieros, y
		flujo de efectivo.
	</p>
	<Link href="https://finviz.com/" target="_blank" nameLink="Finviz" />

	<p>
		Ofrece un mapa de calor (maps) que muestra el desempeño actual de las
		acciones, segmentado por sector. También incluye principales indicadores
		y ratios de cada empresa. Su herramienta de búsqueda (screener) permite
		filtrar acciones por sector, capitalización bursátil, país, beta, % de
		dividendos, entre otros, y hacer comparaciones. Para cada empresa, hay
		un gráfico de análisis técnico (AT) con medias, soportes y resistencias,
		y un cuadro con datos técnicos y financieros importantes. Además, es
		posible comparar distintas acciones ingresando varios tickers separados
		por comas, como por ejemplo: aapl, googl, msft.
	</p>
	<Link
		href="https://es.wallmine.com/market/us"
		target="_blank"
		nameLink="Wallmine"
	/>
	<p>
		Wallmine es una herramienta de comparación que permite añadir tickers
		desde el botón "comparar".
	</p>
	<Link
		href="https://www.morningstar.com/"
		target="_blank"
		nameLink="Morningstar"
	/>
	<p>
		Proporciona información histórica, ideal para comparar ratios año a año
		(en la sección de Valuation), mostrando el valor actual, el promedio de
		los últimos 5 años, y el de la industria (index).
	</p>
	<Link
		href="https://www.dataroma.com/m/home.php"
		target="_blank"
		nameLink="Dataroma"
	/>
	<p>
		Consulta las carteras de los principales inversores del mundo, como la
		de Warren Buffett.
	</p>
	<Link
		href="https://x.com/ewhispers"
		target="_blank"
		nameLink="Earnings Whispers"
	/>
	<p>
		Publica información sobre los resultados financieros de las empresas,
		incluyendo el momento en que presentan sus balances, ya sea antes de la
		apertura o después del cierre del mercado. Síguelo en X (Twitter).
	</p>
	<Link href="https://www.cnbc.com/" target="_blank" nameLink="CNBC" />
	<p>
		Ofrece noticias y análisis de mercado, con secciones dedicadas a
		empresas, economía, finanzas personales y tecnología.
	</p>

	<Link
		href="https://www.argentina.gob.ar/buscar/empresas"
		target="_blank"
		nameLink="CNV"
	/>
	<p>
		En la sección de empresas de la Comisión Nacional de Valores (CNV),
		puedes encontrar información esencial para evaluar compañías argentinas
		desde una perspectiva fundamental, incluyendo estados financieros,
		informes de auditoría y noticias corporativas relevantes.
	</p>

	<h3>Para leer noticias económico-financieras:</h3>
	<strong>A nivel local:</strong>
	<ul>
		<li>
			<Link
				href="https://www.ambito.com"
				target="_blank"
				nameLink="Ámbito"
			/>
		</li>
		<li>
			<Link
				href="https://www.bloomberglinea.com/"
				target="_blank"
				nameLink="Bloomberglinea"
			/>
		</li>
	</ul>
</PageContent>
