---
import Menu from "@components/ui/Menu.astro";
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Descubre cómo invertir y alcanzar tu libertad financiera con aprenderainvertir. Explora nuestra guía completa sobre inversiones en la bolsa de valores, enfocada en el mercado argentino. ¡Empieza a invertir hoy!"
		/>
		<meta
			name="keywords"
			content="invertir, inversiones, bolsa de valores, finanzas, libertad financiera, acciones, CEDEARs, bonos, ETFs, futuros, opciones, criptomonedas, Forex, CFDs, materias primas, fondos comunes de inversión, análisis técnico, análisis fundamental, análisis de mercado, inversiones en Argentina, mercado de capitales, mercado de divisas, mercado de criptomonedas, mercado de futuros, mercado de opciones, mercado de bonos, mercado de acciones, mercado de ETFs, mercado de CFDs, mercado de materias primas, mercado de fondos comunes de inversión, mercado de valores"
		/>
		<meta name="author" content="aprenderainvertir" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#0066cc" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" sizes="32x32" href="/public/finance.svg" />
		<link rel="icon" sizes="192x192" href="/public/finance.svg" />
		<link rel="canonical" href="https://www.aprenderainvertir.app/" />

		<meta
			property="og:title"
			content="aprenderainvertir - Guía Completa de Inversiones en Argentina"
		/>
		<meta
			property="og:description"
			content="Explora nuestra guía completa sobre inversiones en la bolsa de valores, enfocada en el mercado argentino. ¡Empieza a invertir hoy!"
		/>
		<meta property="og:image" content="/public/finance.svg" />
		<meta property="og:url" content="https://www.tusitioweb.com/" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="aprenderainvertir - Guía Completa de Inversiones en Argentina"
		/>
		<meta
			name="twitter:description"
			content="Explora nuestra guía completa sobre inversiones en la bolsa de valores, enfocada en el mercado argentino. ¡Empieza a invertir hoy!"
		/>
		<meta name="twitter:image" content="/public/finance.svg" />
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Blog",
				"name": "aprenderainvertir",
				"url": "https://www.aprenderainvertir.app",
				"description": "Blog dedicado a la educación sobre inversiones en Argentina y la bolsa de valores.",
				"author": {
					"@type": "Person",
					"name": "aprenderainvertir"
				}
			}
		</script>
		<!-- ver este link -->
		<link
			rel="sitemap"
			type="application/xml"
			title="Sitemap"
			href="/sitemap.xml"
		/>
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Menu />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/* --lightblue: #99ccff;
				 */
		--lightblue: #99ccff;
		--darkblue: #0066cccc;
		--lightred: #fa8484;
		--darkred: #cc2200cc;
		--lightyellow: #ffff99;
		--darkyellow: #cccc00cc;
		--lightgreen: #99ff99;
		--darkgreen: #00cc00cc;
		--lightviolet: #dd99ff;
		--darkviolet: #8800cccc;
		--text-primary: #595960;
		/* color-scheme: light dark; */
	}

	body {
		font-family: "Onest Variable", sans-serif, system-ui;
	}
	html {
		color: var(--text-primary);
		background: #fafafa;
		h2,
		h3 {
			color: var(--darkblue);
		}
		strong {
			color: var(--darkred);
		}
		a p {
			color: #2d333bf2;
		}
	}
	html.dark {
		background-color: #2d333bf2;
		color: #f0f0f0;
		h2,
		h3 {
			color: var(--lightblue);
		}

		strong {
			color: var(--lightred);
		}
		a p {
			color: white;
		}
	}

	h1 {
		@apply mb-2 mt-2 scroll-mt-16 text-pretty text-xl md:text-[1.75rem] font-black leading-none text-white first:mt-0;
	}
	h2 {
		@apply mb-2  text-pretty text-2xl font-bold leading-none  first:mt-0 sm:text-[1.75rem];
	}

	h3 {
		@apply text-sm leading-normal text-pretty  sm:text-lg lg:text-xl font-bold;
		/* @apply font-semibold text-[--darkred]; */
	}
	strong {
		@apply font-semibold;
	}

	li,
	p {
		@apply mb-4 text-pretty;
	}
	strong > a,
	strong > button {
		@apply whitespace-nowrap  rounded-md bg-[--lightblue]  py-0.5 px-2 text-[--darkblue] transition-colors duration-300 ease-in-out hover:bg-[--darkblue] hover:text-[--lightblue];
	}
	.capitalize-first-letter::first-letter {
		@apply uppercase; /* Usa la utilidad de Tailwind para mayúsculas */
	}
</style>

<script>
	import "@justinribeiro/lite-youtube";
</script>
