---
import back from "../../icons/back.svg";
---

<button
	onclick="window.history.back()"
	id="back"
	class="flex items-center gap-1 rounded-md p-2 my-2 transition bg-[#fafafa] text-[--darkblue] shadow-md hover:bg-[--lightblue] active:scale-95 text-sm">
	<span>Atrás </span>
	<img src={back.src} class="w-4" alt="Image back svg button" />
</button>
