---
import Menu from "./Menu.astro";
---

<aside
	id="aside-container"
	class="pointer-events-none fixed inset-0 flex-shrink-0 flex-col overflow-clip transition-opacity duration-300 ease-in-out xl:pointer-events-auto xl:bottom-auto xl:right-0 xl:left-auto xl:top-0 xl:z-[9999] xl:h-screen 2xl:right-6 2xl:top-12 2xl:h-[calc(100vh-33vh)] 2xl:rounded-md hidden xl:block opacity-1 z-0">
	<div
		id="aside-content"
		class="relative flex h-full rounded-3xl max-h-full w-full flex-shrink-0 flex-col items-center justify-start gap-0 2xl:gap-8 text-[--darkblue] max-w-[296px]">
		<div
			id="aside-content-child"
			class="flex flex-shrink-0 flex-col items-center justify-start text-[--darkblue] p-8 relative w-full h-auto min-h-[250px]">
			<Menu />
			<p class="pt-12">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
				est reiciendis quis incidunt fuga ullam ad perspiciatis
				consectetur natus minus!
			</p>
		</div>

		<div
			id="aside-content-child"
			class="flex flex-shrink-0 flex-col items-center justify-start text-[--darkblue] px-8">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est
			reiciendis quis incidunt fuga ullam ad perspiciatis consectetur
			natus minus!
		</div>

		<div
			id="aside-content-child"
			class="flex flex-shrink-0 flex-col items-center justify-start text-[--darkblue] px-8">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est
			reiciendis quis incidunt fuga ullam ad perspiciatis consectetur
			natus minus!
		</div>
	</div>
</aside>

<script></script>

<style>
	#aside-container::after {
		transition: opacity 300ms ease-in-out;
		background: #fafafa;
	}
	
	#aside-content {
		position: relative; /* Necesario para posicionar el pseudo-elemento correctamente */
	}
	
	#aside-content::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../../icons/finance.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0.05; /* Ajusta este valor para cambiar la transparencia de la imagen */
		z-index: 0;
	}
	#aside-content-child {
		background: rgba(0, 0, 0, 0.05);
		border-radius: 1.5rem;
	}
</style>
