---

---

<aside
	transition:persist
	class="pointer-events-none fixed inset-0 flex-shrink-0 flex-col overflow-clip transition-opacity duration-300 ease-in-out xl:pointer-events-auto xl:bottom-auto xl:right-0 xl:left-auto xl:top-0 xl:z-[9999] xl:h-screen 2xl:right-12 2xl:top-12 2xl:h-[calc(100vh-33vh)] 2xl:rounded-3xl hidden xl:block"
	id="aside-container">
	<div
		class="relative flex h-full max-h-full w-full flex-shrink-0 flex-col items-center justify-start gap-0 2xl:gap-8 text-[--darkblue] max-w-[296px]"
		id="aside-content">
		<div
			class="flex flex-shrink-0 flex-col items-center justify-start text-[--darkblue] p-8 2xl:rounded-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est
			reiciendis quis incidunt fuga ullam ad perspiciatis consectetur
			natus minus!
		</div>
		<div
			class="flex flex-shrink-0 flex-col items-center justify-start text-[--darkblue] p-8 2xl:rounded-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est
			reiciendis quis incidunt fuga ullam ad perspiciatis consectetur
			natus minus!
		</div>

		<div
			class="flex flex-shrink-0 flex-col items-center justify-start text-[--darkblue] p-8 rounded-bl-3xl 2xl:rounded-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio est
			reiciendis quis incidunt fuga ullam ad perspiciatis consectetur
			natus minus!
		</div>
	</div>
</aside>

<style>
	#aside-content div {
		background-color: rgba(0, 0, 0, 0.05);
		/* scrollbar-width: none; */
	}
	#aside-content {
		opacity: 0;
		animation: fadeIn linear both;
		animation-timeline: view();
		animation-range: 75% 85%;
	}

	@keyframes fadeIn {
		to {
			opacity: 100;
		}
	}
</style>
