<div
	class="pointer-events-none fixed bottom-0 right-0 z-100 origin-bottom-right scale-75 bg-transparent bg-[url('https://storage.googleapis.com/candycode/bg.png')] bg-[length:100%_100%] bg-no-repeat pl-[256px] pt-[96px] leading-none sm:scale-100 z-50">
	<a
		href="https://ezestom.github.io/portfolio/"
		target="_blank"
		rel="noopener noreferrer"
		class="transition pointer-events-auto relative inline-flex w-full flex-col items-center justify-center p-[16px] text-xs text-center text-white/75 leading-3 group">
		Created & <br />
		designed by
		<br />
		<ruby
			class="tracking-tighter mt-1 text-sm text-white transition group-hover:text-[--lightblue]">
			eze stom <rp>(</rp><rt>Frontend - Dev - 2024</rt><rp>)</rp>
		</ruby>
	</a>
</div>
