---

---

<section>
	<header>
		<div class="content mx-4">
			<p>
				<span
					>Estoy estudiando inversiones y finanzas personales, en este
					blog comparto mis apuntes y experiencias</span
				>
				<span
					>Te dejo mis apuntes, para que puedas empezar en este mundo
					maravilloso de las finanzas personales</span
				>
			</p>
			<div class="attributes">
				<!-- Content, Design, Speaking, Creative, Engineering  -->
				<div class="attribute">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z"
						></path>
					</svg>
					mercados
				</div>
				<div class="attribute">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
						></path>
					</svg>
					finanzas
				</div>
				<div class="attribute">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
						></path>
					</svg>
					acciones
				</div>
				<div class="attribute">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z"
						></path>
					</svg>
					cauciones
				</div>
				<div class="attribute">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"
						></path>
					</svg>
					bonos
				</div>
				<div class="attribute">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-6 h-6">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5"
						></path>
					</svg>
					inversiones
				</div>
			</div>
		</div>
	</header>
</section>

<style>
	section {
		position: relative;
		animation: fadeOut linear both;
		animation-timeline: view();
		animation-range: 65% 70%;
	}
	@keyframes fadeOut {
		to {
			opacity: 0;
			z-index: 0;
		}
	}
	@layer foundation {
		*,
		*:after,
		*:before {
			box-sizing: border-box;
		}

		header {
			position: relative; /* Necesario para posicionar el pseudo-elemento */
			min-height: 100dvh;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			overflow: hidden; /* Para asegurar que el pseudo-elemento no desborde el header */

			/* header scroll animation  with css  */
		}

		header::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.25); /* Fondo oscuro con opacidad */
			z-index: -2; /* Coloca el pseudo-elemento detrás de la imagen */
		}

		header::after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../../img/wallstreet2.jpg");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0.5; /* Ajusta la opacidad según sea necesario */
			z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del header */
		}
		.content {
			padding-top: 10rem;
			align-self: center;
			/* max-width: calc(100% - 2rem); */
			width: 800px;
			margin: 0 auto 8rem;
			position: relative;
		}

		p {
			display: grid;
			gap: 2rem;
			margin: 0;
			line-height: 1;
			font-size: clamp(2rem, 3vw + 1rem, 3rem);
			font-weight: 700;
			box-shadow: rgb(75 85 99 / 0.1);
			padding: 4rem;
			border-radius: 1.5rem;
			background-color: rgba(0, 0, 0, 0.25);
		}

		p > span:first-of-type {
			font-size: clamp(1rem, 0.25vw + 1rem, 3rem);
			line-height: 1.5rem;
			font-weight: 400;
			position: relative;
			opacity: 0.75;
		}
	}

	@layer attributes {
		.attributes {
			position: absolute;
			bottom: 25%;
			left: 50%;
		}
		.attribute {
			--font-size: 2.5rem;
			--hue: 10;
			--ox: 0;
			--oy: 0;
			--dx: 0;
			--dy: 0;
			--or: 0;
			--dr: 0;
			display: inline-flex;
			align-items: center;
			gap: 0.5rem;
			font-size: var(--font-size);
			border: 1px solid hsl(var(--hue) 100% 80%);
			padding: 0.25rem 0.5rem;
			border-radius: 6px;
			position: absolute;
			bottom: 0%;
			left: 50%;
			translate: -50% 0%;
			background: linear-gradient(
					hsl(var(--hue) 100% 90% / 0.75),
					#0000 50%
				),
				hsl(var(--hue) 100% 80%);
			color: hsl(var(--hue) 100% 40% / 0.8);
			box-shadow: 1px -1px 0.5rem 0rem hsl(var(--hue) 100% 30%) inset;
			transform: translate(var(--ox), var(--oy)) rotate(var(--or))
				translate(var(--dx), var(--dy)) rotate(var(--dr));
		}

		.attribute:nth-of-type(1) {
			--hue: 10;
			/*	Origin	*/
			--ox: -25%;
			--oy: 50%;
			--or: 7deg;
			/*	Destination	*/
			--dx: -100vw;
			--dr: -190deg;
			--dy: -50vh;
		}
		.attribute:nth-of-type(2) {
			--hue: 60;
			--ox: 56%;
			--oy: -48%;
			--or: 12deg;
			/*	Destination	*/
			--dx: 80vw;
			--dr: 200deg;
			--dy: 20vh;
		}
		.attribute:nth-of-type(3) {
			--hue: 180;
			--ox: -35%;
			--oy: -35%;
			--or: -10deg;
			/*	Destination	*/
			--dx: -40vw;
			--dr: 60deg;
			--dy: -150vh;
		}
		.attribute:nth-of-type(4) {
			--hue: 120;
			--ox: 18%;
			--oy: 35%;
			--or: 15deg;
			/*	Destination	*/
			--dx: 10vw;
			--dr: -290deg;
			--dy: -120vh;
		}
		.attribute:nth-of-type(5) {
			--hue: 210;
			--ox: 56%;
			--oy: -16%;
			--or: 10deg;
			/*	Destination	*/
			--dx: 80vw;
			--dr: 230deg;
			--dy: -80vh;
		}
		.attribute:nth-of-type(6) {
			--hue: 280;
			--ox: 5%;
			--oy: 15%;
			--or: -8deg;
			/*	Destination	*/
			--dx: -120vw;
			--dr: -540deg;
			--dy: 40vh;
		}

		.attribute svg {
			width: var(--font-size);
			stroke-width: 2;
		}
	}

	@layer scrolls {
		@supports (animation-timeline: scroll()) {
			header {
				view-timeline-name: --header;
			}
			.attribute {
				animation: expand both linear;
				animation-timeline: --header;
				animation-range: exit;
				transform: translate(var(--ox), var(--oy)) rotate(var(--or))
					translate(0, 0) rotate(0);
			}
			@keyframes expand {
				to {
					transform: translate(var(--ox), var(--oy)) rotate(var(--or))
						translate(var(--dx), var(--dy)) rotate(var(--dr));
				}
			}
		}
	}
</style>
