---
import Content from "./Content.astro";
import intro from "../../img/intro.png";
import { Image } from "astro:assets";
import NormalVideo from "./NormalVideo.astro";
---

<section id="introduction">
	<Content>
		<section
			class="py-16 mb-4 text-pretty text-sm md:text-base leading-normal text-black/60">
			<Image
				style={{ background: "rgba(0,0,0,0.05)" }}
				src={intro}
				alt="Header"
				class="h-[300px] md:h-[350px] w-full rounded-md object-contain shadow-md"
			/>

			<h2
				id="introduction"
				class="justify-between text-pretty items-start rounded-md p-4 my-6 bg-[--lightblue] shadow-md flex flex-col">
				Descubre el Poder de Invertir:
				<span class="text-2xl">Tu Puerta al Futuro Financiero.</span>
			</h2>
			<p>
				Invertir es mucho más que simplemente colocar dinero en activos;
				es una herramienta poderosa para construir riqueza, alcanzar tus
				metas y asegurar tu futuro financiero. A nivel global, la
				inversión es una práctica común y altamente valorada. En Estados
				Unidos, alrededor del 50% de los hogares participan en el
				mercado de valores, utilizando acciones, fondos mutuos y planes
				de jubilación para hacer crecer su dinero. En comparación, en
				Argentina, aproximadamente el 5-10% de la población invierte
				directamente en el mercado, debido a diversos factores
				económicos y culturales.
			</p>
			<h2>¿Qué es la inversión?</h2>
			<p>
				La inversión consiste en asignar capital (dinero o activos) con
				el objetivo de generar un retorno o ganancia en el futuro. Las
				inversiones pueden tomar muchas formas, incluyendo acciones,
				bonos, bienes raíces, fondos mutuos, y más.
			</p>

			<h3>¿Por qué deberías considerar invertir?</h3>

			<ul>
				<li>
					<strong>Construcción de Riqueza a Largo Plazo:</strong> La inversión
					te permite generar rendimientos que se acumulan con el tiempo,
					ayudándote a alcanzar objetivos a largo plazo como la compra
					de una casa, la educación de tus hijos o una jubilación cómoda.
				</li>
				<li>
					<strong>Diversificación de Ingresos:</strong> No depender exclusivamente
					de un salario es crucial para tu estabilidad financiera. Invertir
					te ayuda a diversificar tus fuentes de ingresos, protegiéndote
					contra la pérdida de empleo o la inflación.
				</li>
				<li>
					<strong>Desarrollo Personal y Profesional:</strong> Aprender
					sobre inversiones no solo mejora tu conocimiento financiero,
					sino que también desarrolla habilidades analíticas y estratégicas
					que pueden beneficiar otras áreas de tu vida.
				</li>
				<li>
					<strong> Protección contra la inflación: </strong>La
					inflación puede disminuir el valor de tu dinero con el
					tiempo. Invertir en activos que superen la tasa de inflación
					te ayuda a mantener y aumentar tu poder adquisitivo.
				</li>
				<li>
					<strong>Empoderamiento Financiero:</strong> Ser un inversor informado
					te da control sobre tu futuro financiero. Puedes tomar decisiones
					basadas en tus objetivos y tolerancia al riesgo, adaptándote
					a las condiciones del mercado para maximizar tus oportunidades.
				</li>
				<li>
					<strong>Impacto Positivo:</strong> Invertir en empresas y proyectos
					que se alinean con tus valores te permite contribuir a causas
					que te importan, como tecnologías sostenibles o empresas que
					promueven la igualdad.
				</li>
			</ul>

			<h3>Conclusión</h3>
			<p>
				<strong>La inversión </strong>es una herramienta poderosa para
				alcanzar tus metas financieras, pero requiere conocimiento,
				disciplina y una comprensión clara de tu tolerancia al riesgo y
				horizonte de inversión. Ya sea que decidas gestionar tus
				inversiones por ti mismo o busques el asesoramiento de un
				profesional, educarte continuamente y mantener una perspectiva a
				largo plazo son claves para el éxito en el mundo de las
				inversiones.
			</p>
			<NormalVideo
				videoid="TOVvFXR3jA8"
				title={"🦈 Memorias de Tiburón"}
				description={"✅ ¿Qué es la INFLACIÓN? ¿Cómo se crea? | Todo sobre la INFLACIÓN en 5 minutos."}
			/>

			<h3>Cómo Empezar:</h3>
			<ul>
				<li>
					<strong>Educación Continua:</strong> La base del éxito en inversiones
					es el conocimiento. Lee, investiga y mantente actualizado sobre
					las tendencias del mercado.
				</li>
				<li>
					<strong>Diversificación:</strong> No pongas todos tus recursos
					en una sola inversión. Diversificar tu portafolio te ayuda a
					reducir riesgos y equilibrar rendimientos.
				</li>
				<li>
					<strong>Paciencia y Disciplina:</strong> La inversión efectiva
					requiere tiempo y paciencia. Mantén la calma ante las fluctuaciones
					del mercado y sigue tu plan con disciplina.
				</li>
				<li>
					<strong>Asesoramiento Profesional:</strong> Considera obtener
					asesoramiento financiero para desarrollar una estrategia adaptada
					a tus objetivos y perfil de riesgo.
				</li>
			</ul>

			<p>
				Invertir es un camino hacia un futuro financiero más sólido y
				seguro. <strong
					>Empieza hoy mismo a aprender y a explorar el mundo de las
					inversiones. ¡Tu futuro financiero te está esperando!</strong
				>
			</p>
		</section>
		<!-- <Fader /> -->
	</Content>
</section>
