---
import Flap from "./Flap.astro";
import Introduction from "./Introduction.astro";
import Menu from "./Menu.astro";
---

<section class="h-[100vh] relative">
	<Introduction />
	<Flap />
	<Menu />
</section>
