---
import Nav from "../../components/ui/Nav.astro";
import Flap from "./Flap.astro";
import Introduction from "./Introduction.astro";
---

<section class="h-[100vh]">
	<Nav />
	<Introduction />
	<Flap />
</section>
