---
interface NormalVideoProps {
	title: string;
	description: string;
	videoId: string;
}
const { title, description, videoid } = Astro.props;
---

<picture class="py-2">
	<h2 class="pt-8">{title}</h2>
	<p>
		{description}
	</p>
	<div
		class="w-full aspect-video rounded-md overflow-hidden shadow-xl border-0 mb-6"
		style={{ background: "rgba(0,0,0,0.05)" }}
		id="video-container">
		<lite-youtube
			videoid={videoid}
			videoStartAt="0"
			posterquality="maxresdefault"
			params="autoplay=1&mute=0&loop=0&controls=1&modestbranding=0&playsinline=0&rel=0&enablejsapi=1"
		></lite-youtube>
	</div>
</picture>

<style>
	/* #video-container {
		animation: reveal linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 40%;
	}

	@keyframes reveal {
		from {
			scale: 0.8;
			translate: 0 10%;
		}
	} */
</style>
