---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Content from "./Content.astro";
import Nav2 from "./Nav2.astro";
import back from "../../icons/back.svg";
import Flap from "./Flap.astro";
import AsideRight from "./AsideRight.astro";

interface PageContentProps {
	headerImage: string;
	title: string;
}
const { headerImage, title } = Astro.props;
---

<Layout title={title}>
	<Nav2 />
	<Content>
		<section
			class="py-12 mb-4 text-pretty text-sm md:text-base leading-normal text-black/60 relative">
			<Image
				style={{ background: "rgba(0,0,0,0.05)" }}
				src={headerImage}
				alt="Header"
				class="h-[300px] md:h-[350px] w-full rounded-3xl object-contain"
			/>
			<h1 class="flex justify-between text-pretty items-center mb-6">
				{title}
				<button
					onclick="window.history.back()"
					id="back"
					class="flex w-fit items-center rounded-md bg-[--lightblue] text-[--darkblue] hover:bg-[--darkblue] group hover:text-[--lightblue opacity-65  py-4 rounded-xl hover:scale-105 active:scale-90 max-w-20 hover:opacity-100 text-sm flex flex-col items-center justify-center">
					<span class="group-hover:text-[--lightblue]">Atrás</span>
					<img src={back.src} alt="back arrow" class="" />
				</button>
			</h1>
			<slot />
		</section>
	</Content>
	<!-- <AsideRight /> -->
	<Flap />
</Layout>
