---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Content from "./Content.astro";
import Nav2 from "./Nav2.astro";
import Flap from "./Flap.astro";
import { Breadcrumbs } from "./Breadcrumbs/Breadcrumbs";
import AsideRight from "./AsideRight.astro";

interface PageContentProps {
	headerImage: string;
	title: string;
}
const { headerImage, title } = Astro.props;
---

<Layout title={title}>
	<Nav2 />
	<Content>
		<!-- <AsideRight /> -->
		<section
			class="py-12 text-pretty text-sm md:text-base leading-normal text-black/60 relative">
			<Breadcrumbs client:load />
			<Image
				style={{ background: "rgba(0,0,0,0.05)" }}
				src={headerImage}
				alt="Header"
				class="h-[300px] md:h-[350px] w-full rounded-md object-contain shadow-md"
				id="headerImage"
			/>
			<h1
				class="flex justify-between text-pretty items-center rounded-md px-4 py-2 my-6 bg-[--lightblue] shadow-md">
				<span class="flex gap-1 items-center">
					{title}
				</span>
				<button
					onclick="window.history.back()"
					id="back"
					class="w-fit text-[--darkblue] bg-gray-100 hover:shadow-md p-2 rounded-md my-2 active:scale-90 text-sm flex flex-col items-center justify-center">
					<span>Atrás </span>
					<span>↩</span>
				</button>
			</h1>
			<slot />
		</section>
	</Content>
	<!-- <AsideRight /> -->
	<Flap />
</Layout>
