<table border="1" cellspacing="0" cellpadding="10">
	<thead>
		<tr>
			<th>Sector</th>
			<th>Ticker</th>
			<th>Nombre</th>
			<th>Beta</th>
			<th>Capitalización Bursátil</th>
		</tr>
	</thead>
	<tbody>
		<!-- Sector Financiero -->
		<tr>
			<td rowspan="8">Financiero</td>
			<td>BRK.B</td>
			<td><a href="#">Berkshire Hathaway</a></td>
			<td>0.86</td>
			<td>777.458 B</td>
		</tr>
		<tr>
			<td>V</td>
			<td><a href="#">Visa</a></td>
			<td>0.95</td>
			<td>535.069 B</td>
		</tr>
		<tr>
			<td>MA</td>
			<td><a href="#">Mastercard</a></td>
			<td>1.08</td>
			<td>399.971 B</td>
		</tr>
		<tr>
			<td>JPM</td>
			<td><a href="#">JPMorgan Chase</a></td>
			<td>1.11</td>
			<td>491.761 B</td>
		</tr>
		<tr>
			<td>WFC</td>
			<td><a href="#">Wells Fargo</a></td>
			<td>1.18</td>
			<td>178.749 B</td>
		</tr>
		<tr>
			<td>PYPL</td>
			<td><a href="#">PayPal Holdings</a></td>
			<td>1.38</td>
			<td>66.209 B</td>
		</tr>
		<tr>
			<td>BAC</td>
			<td><a href="#">Bank Of America</a></td>
			<td>1.41</td>
			<td>266.455 B</td>
		</tr>
		<tr>
			<td>GS</td>
			<td><a href="#">Goldman Sachs Group</a></td>
			<td>1.44</td>
			<td>125.804 B</td>
		</tr>

		<!-- Sector Tecnología -->
		<tr>
			<td rowspan="10">Tecnología</td>
			<td>MSFT</td>
			<td><a href="#">Microsoft</a></td>
			<td>0.90</td>
			<td>2794.83 B</td>
		</tr>
		<tr>
			<td>INTC</td>
			<td><a href="#">Intel Corporation</a></td>
			<td>0.95</td>
			<td>211.854 B</td>
		</tr>
		<tr>
			<td>AVGO</td>
			<td><a href="#">Broadcom</a></td>
			<td>1.12</td>
			<td>522.562 B</td>
		</tr>
		<tr>
			<td>AAPL</td>
			<td><a href="#">Apple</a></td>
			<td>1.31</td>
			<td>2994.38 B</td>
		</tr>
		<tr>
			<td>ADBE</td>
			<td><a href="#">Adobe</a></td>
			<td>1.34</td>
			<td>271.632 B</td>
		</tr>
		<tr>
			<td>GLOB</td>
			<td><a href="#">Globant S.A.</a></td>
			<td>1.38</td>
			<td>10.099 B</td>
		</tr>
		<tr>
			<td>AMD</td>
			<td><a href="#">Advanced Micro Devices</a></td>
			<td>1.67</td>
			<td>238.141 B</td>
		</tr>
		<tr>
			<td>NVDA</td>
			<td><a href="#">Nvidia</a></td>
			<td>1.69</td>
			<td>1223.19 B</td>
		</tr>
		<tr>
			<td>SHOP</td>
			<td><a href="#">Shopify Inc</a></td>
			<td>2.23</td>
			<td>100.044 B</td>
		</tr>
		<tr>
			<td>COIN</td>
			<td><a href="#">Coinbase Global</a></td>
			<td>3.06</td>
			<td>41.61 B</td>
		</tr>

		<!-- Sector Consumo Defensivo -->
		<tr>
			<td rowspan="6">Consumo Defensivo</td>
			<td>PG</td>
			<td><a href="#">Procter & Gamble Company</a></td>
			<td>0.45</td>
			<td>345.379 B</td>
		</tr>
		<tr>
			<td>WMT</td>
			<td><a href="#">Walmart</a></td>
			<td>0.49</td>
			<td>424.43 B</td>
		</tr>
		<tr>
			<td>PEP</td>
			<td><a href="#">PepsiCo Inc</a></td>
			<td>0.57</td>
			<td>234.155 B</td>
		</tr>
		<tr>
			<td>KO</td>
			<td><a href="#">Coca-Cola Company</a></td>
			<td>0.58</td>
			<td>254.779 B</td>
		</tr>
		<tr>
			<td>COST</td>
			<td><a href="#">Costco Wholesale</a></td>
			<td>0.77</td>
			<td>292.896 B</td>
		</tr>
		<tr>
			<td>TGT</td>
			<td><a href="#">Target Corp</a></td>
			<td>1.10</td>
			<td>65.75 B</td>
		</tr>

		<!-- Sector Consumo Discrecional o Cíclico -->
		<tr>
			<td rowspan="8">Consumo Discrecional o Cíclico</td>
			<td>MCD</td>
			<td><a href="#">McDonald's</a></td>
			<td>0.70</td>
			<td>215.071 B</td>
		</tr>
		<tr>
			<td>HD</td>
			<td><a href="#">Home Depot</a></td>
			<td>0.94</td>
			<td>344.908 B</td>
		</tr>
		<tr>
			<td>SBUX</td>
			<td><a href="#">Starbucks Corporation</a></td>
			<td>0.96</td>
			<td>109.135 B</td>
		</tr>
		<tr>
			<td>NKE</td>
			<td><a href="#">Nike</a></td>
			<td>1.08</td>
			<td>164.854 B</td>
		</tr>
		<tr>
			<td>AMZN</td>
			<td><a href="#">Amazon</a></td>
			<td>1.17</td>
			<td>1570.15 B</td>
		</tr>
		<tr>
			<td>MELI</td>
			<td><a href="#">Mercado Libre</a></td>
			<td>1.60</td>
			<td>79.456 B</td>
		</tr>
		<tr>
			<td>F</td>
			<td><a href="#">Ford Motor Company</a></td>
			<td>1.65</td>
			<td>48.796 B</td>
		</tr>
		<tr>
			<td>TSLA</td>
			<td><a href="#">Tesla</a></td>
			<td>2.26</td>
			<td>789.898 B</td>
		</tr>

		<!-- Sector Utilities o Servicios -->
		<tr>
			<td rowspan="1">Utilities o Servicios</td>
			<td>NEE</td>
			<td><a href="#">Nextera Energy</a></td>
			<td>0.51</td>
			<td>124.621 B</td>
		</tr>

		<!-- Sector Industrial -->
		<tr>
			<td rowspan="7">Industrial</td>
			<td>MMM</td>
			<td><a href="#">3M Company</a></td>
			<td>0.99</td>
			<td>60.379 B</td>
		</tr>
		<tr>
			<td>DE</td>
			<td><a href="#">Deere</a></td>
			<td>1.03</td>
			<td>112.066 B</td>
		</tr>
		<tr>
			<td>CAT</td>
			<td><a href="#">Caterpillar</a></td>
			<td>1.08</td>
			<td>150.521 B</td>
		</tr>
		<tr>
			<td>UPS</td>
			<td><a href="#">United Parcel Service</a></td>
			<td>1.09</td>
			<td>133.88 B</td>
		</tr>
		<tr>
			<td>GE</td>
			<td><a href="#">General Electric Company</a></td>
			<td>1.22</td>
			<td>138.911 B</td>
		</tr>
		<tr>
			<td>FDX</td>
			<td><a href="#">Fedex Corp</a></td>
			<td>1.33</td>
			<td>63.215 B</td>
		</tr>
		<tr>
			<td>BA</td>
			<td><a href="#">Boeing Company</a></td>
			<td>1.53</td>
			<td>157.693 B</td>
		</tr>

		<!-- Sector Energía -->
		<tr>
			<td rowspan="6">Energía</td>
			<td>XOM</td>
			<td><a href="#">Exxon Mobil</a></td>
			<td>1.00</td>
			<td>399.597 B</td>
		</tr>
		<tr>
			<td>PBR</td>
			<td><a href="#">Petroleo Brasileiro</a></td>
			<td>1.09</td>
			<td>103.568 B</td>
		</tr>
		<tr>
			<td>CVX</td>
			<td><a href="#">Chevron</a></td>
			<td>1.10</td>
			<td>281.577 B</td>
		</tr>
		<tr>
			<td>FSLR</td>
			<td><a href="#">First Solar</a></td>
			<td>1.40</td>
			<td>18.407 B</td>
		</tr>
		<tr>
			<td>OXY</td>
			<td><a href="#">Occidental Petroleum</a></td>
			<td>1.64</td>
			<td>52.4 B</td>
		</tr>
		<tr>
			<td>VIST</td>
			<td><a href="#">Vista Energy</a></td>
			<td>1.96</td>
			<td>2.808 B</td>
		</tr>

		<!-- Sector Materiales -->
		<tr>
			<td rowspan="5">Materiales</td>
			<td>GOLD</td>
			<td><a href="#">Barrick Gold Common</a></td>
			<td>0.30</td>
			<td>31.76 B</td>
		</tr>
		<tr>
			<td>RIO</td>
			<td><a href="#">Rio Tinto PLC</a></td>
			<td>0.65</td>
			<td>121.685 B</td>
		</tr>
		<tr>
			<td>BHP</td>
			<td><a href="#">BHP Group Limited</a></td>
			<td>0.79</td>
			<td>174.256 B</td>
		</tr>
		<tr>
			<td>VALE</td>
			<td><a href="#">Vale S.A.</a></td>
			<td>0.83</td>
			<td>68.787 B</td>
		</tr>
		<tr>
			<td>PAAS</td>
			<td><a href="#">Pan American Silver</a></td>
			<td>1.14</td>
			<td>5.957 B</td>
		</tr>

		<!-- Sector Comunicación -->
		<tr>
			<td rowspan="8">Comunicación</td>
			<td>VZ</td>
			<td><a href="#">Verizon Communications</a></td>
			<td>0.40</td>
			<td>158.495 B</td>
		</tr>
		<tr>
			<td>T</td>
			<td><a href="#">AT&T</a></td>
			<td>0.72</td>
			<td>119.977 B</td>
		</tr>
		<tr>
			<td>EA</td>
			<td><a href="#">Electronic Arts</a></td>
			<td>0.82</td>
			<td>36.797 B</td>
		</tr>
		<tr>
			<td>GOOGL</td>
			<td><a href="#">Alphabet Inc.</a></td>
			<td>1.03</td>
			<td>1748.36 B</td>
		</tr>
		<tr>
			<td>META</td>
			<td><a href="#">Meta Platforms</a></td>
			<td>1.20</td>
			<td>909.628 B</td>
		</tr>
		<tr>
			<td>NFLX</td>
			<td><a href="#">Netflix</a></td>
			<td>1.26</td>
			<td>213.098 B</td>
		</tr>
		<tr>
			<td>DIS</td>
			<td><a href="#">Walt Disney Company</a></td>
			<td>1.32</td>
			<td>165.26 B</td>
		</tr>
		<tr>
			<td>RBLX</td>
			<td><a href="#">Roblox Class A</a></td>
			<td>1.66</td>
			<td>28.517 B</td>
		</tr>

		<!-- Sector Salud -->
		<tr>
			<td rowspan="3">Salud</td>
			<td>LLY</td>
			<td><a href="#">Lilly(Eli) & Co</a></td>
			<td>0.33</td>
			<td>553.37 B</td>
		</tr>
		<tr>
			<td>PFE</td>
			<td><a href="#">Pfizer</a></td>
			<td>0.56</td>
			<td>162.56 B</td>
		</tr>
		<tr>
			<td>JNJ</td>
			<td><a href="#">Johnson & Johnson</a></td>
			<td>0.57</td>
			<td>377.317 B</td>
		</tr>
	</tbody>
</table>

<style>
	table {
		width: 100%;
		border-collapse: collapse;
		background-color: rgba(0, 0, 0, 0.025);
	}

	th {
		background-color: var(--lightblue);
		color: var(--darkblue);
	}

	td {
		background-color: rgba(0, 0, 0, 0.025)
	}

	td a {
		color: var(--darkblue);
	}

	td a:hover {
		color: var(--darkblue);
		text-decoration: underline;
	}

	tr:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.025)
	}

	tr:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.025)
	}

	tr:hover {
		background-color: var(--lightblue);
	}

	tr:hover td {
		color: var(--darkblue);
	}

	td,
	th {
		padding: 0.5rem;
	}

	th {
		text-align: left;
	}

	td {
		text-align: left;
	}

	/* td:nth-child(1) {
		text-align: center;
	}

	td:nth-child(2) {
		text-align: center;
	}

	td:nth-child(3) {
		text-align: center;
	}

	td:nth-child(4) {
		text-align: center;
	}

	td:nth-child(5) {
		text-align: center;
	} */
</style>
