<table
	class="min-w-full divide-y divide-gray-200 border border-gray-300 rounded-md">
	<thead class="bg-gray-100">
		<tr class="bg-lightblue text-darkblue">
			<th
				class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
				>Sector</th
			>
			<th
				class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
				>Ticker</th
			>
			<th
				class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
				>Nombre</th
			>
			<th
				class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
				>Beta</th
			>
			<th
				class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
				>Capitalización Bursátil</th
			>
		</tr>
	</thead>
	<tbody class="bg-white divide-y divide-gray-200">
		<!-- Sector Financiero -->
		<tr>
			<td rowspan="8" class="p-2 bg-gray-100">Financiero</td>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">BRK.B</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Berkshire Hathaway</a
				></td
			>
			<td class="p-2">0.86</td>
			<td class="p-2">777.458 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">V</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Visa</a></td
			>
			<td class="p-2">0.95</td>
			<td class="p-2">535.069 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">MA</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Mastercard</a
				></td
			>
			<td class="p-2">1.08</td>
			<td class="p-2">399.971 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">JPM</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>JPMorgan Chase</a
				></td
			>
			<td class="p-2">1.11</td>
			<td class="p-2">491.761 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">WFC</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Wells Fargo</a
				></td
			>
			<td class="p-2">1.18</td>
			<td class="p-2">178.749 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">PYPL</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>PayPal Holdings</a
				></td
			>
			<td class="p-2">1.38</td>
			<td class="p-2">66.209 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">BAC</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Bank Of America</a
				></td
			>
			<td class="p-2">1.41</td>
			<td class="p-2">266.455 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">GS</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Goldman Sachs Group</a
				></td
			>
			<td class="p-2">1.44</td>
			<td class="p-2">125.804 B</td>
		</tr>

		<!-- Sector Tecnología -->
		<tr>
			<td rowspan="10" class="p-2 bg-gray-100">Tecnología</td>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">MSFT</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Microsoft</a
				></td
			>
			<td class="p-2">0.90</td>
			<td class="p-2">2794.83 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">INTC</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Intel Corporation</a
				></td
			>
			<td class="p-2">0.95</td>
			<td class="p-2">211.854 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">AVGO</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Broadcom</a
				></td
			>
			<td class="p-2">1.12</td>
			<td class="p-2">522.562 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">AAPL</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Apple</a></td
			>
			<td class="p-2">1.31</td>
			<td class="p-2">2994.38 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">ADBE</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Adobe</a></td
			>
			<td class="p-2">1.34</td>
			<td class="p-2">271.632 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">GLOB</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Globant S.A.</a
				></td
			>
			<td class="p-2">1.38</td>
			<td class="p-2">10.099 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">AMD</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Advanced Micro Devices</a
				></td
			>
			<td class="p-2">1.67</td>
			<td class="p-2">238.141 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">NVDA</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">Nvidia</a
				></td
			>
			<td class="p-2">1.69</td>
			<td class="p-2">1223.19 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">SHOP</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Shopify Inc</a
				></td
			>
			<td class="p-2">2.23</td>
			<td class="p-2">100.044 B</td>
		</tr>
		<tr>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline">COIN</a></td
			>
			<td class="p-2"
				><a href="#" class="text-darkblue hover:underline"
					>Coinbase Global</a
				></td
			>
			<td class="p-2">2.31</td>
			<td class="p-2">22.285 B</td>
		</tr>
	</tbody>
</table>
