---
interface TooltiProps {
	name: string;
	href: string;
	info: string;
}
const { href, name, info } = Astro.props;
---

<a class="anchor-container hover:opacity-100 group" href={href}>
	<div
		class="hint"
		data-position="4"
		class="whitespace-nowrap text-start w-fit text-base text-[--darkblue] group opacity-75 hover:opacity-100 transition">
		<span class="opacity-0 group-hover:opacity-100 absolute left-0">
			#
		</span>

		<span
			class="anchor-name pl-4 text-black tracking-tight whitespace-nowrap"
			>{name}</span
		>

		<div class="content">
			<p class="m-0 text-pretty">{info.split("•").join("\n")}</p>
		</div>
	</div>
</a>

<style>
	.anchor-container {
		width: 100%;
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.anchor-container .hint {
		position: relative;
		width: fit-content;
	}
	.anchor-container .anchor-name {
		opacity: 0.75;
		color: #000000bf;
	}
	.anchor-container .anchor-name:hover {
		opacity: 1;
	}

	.anchor-container .hint[data-position="1"] .content {
		bottom: 85px;
		left: 60%;
		margin-left: 60%;
	}
	.anchor-container .content {
		white-space: pre-wrap;
		width: 300px;
		position: absolute;
		z-index: 5;
		padding: 0 1rem;
		opacity: 0;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		color: var(--darkblue);
		font-weight: 600;
		visibility: hidden;
		pointer-events: none;
		font-size: 0.75rem;
	}
	.anchor-container .hint:hover .content {
		position: absolute;
		background: var(--lightblue);
		border-radius: 0.375rem;
		z-index: 5;

		opacity: 1;
		-webkit-transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		color: var(--darkblue);
		font-weight: 600;
		visibility: visible;
		pointer-events: none;
	}
	.anchor-container .content::before {
		width: 0px;
		bottom: -7.5px;
		left: 5%;
		content: "";
		background: rgba(0, 102, 204, 0.25);

		height: 1px;
		position: absolute;
		transition: width 0.4s;
	}
	.anchor-container .hint:hover .content::before {
		width: 275px;
		transition: width 0.4s;
	}
	.anchor-container .content::after {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transform: rotate(-225deg);
		transform: rotate(-225deg);
		bottom: -7.5px;
		left: 5%;
		width: 80px;
		content: "";
		background: rgba(0, 102, 204, 0.25);

		height: 1px;
		position: absolute;
		opacity: 1;
		-webkit-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.anchor-container .hint:hover .content::after {
		opacity: 1;
		visibility: visible;
	}
	.anchor-container .hint[data-position="4"] .content {
		bottom: 85px;
		left: 60%;
		margin-left: 60%;
	}
</style>
