---
import CardTool from "./CardTool.astro";
import Content from "./Content.astro";
---

<Content>
	<section>
		<CardTool />
		<CardTool />
		<CardTool />
		<CardTool />
		<CardTool />
	</section>
</Content>

<style>
	section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
	}
</style>
